<table xmlns:xhtml="http://www.w3.org/1999/xhtml">
  <caption>MARCA: ABARTH</caption>
  <thead>
    <tr>
      <td rowspan="2">MODELO -TIPO</td>
      <td rowspan="2">PERIODO</td>
      <td colspan="6">DATOS FICHA TÉCNICA</td>
      <td rowspan="2">cv</td>
      <td>2018</td>
    </tr>
    <tr>
      <td>C.C.</td>
      <td>Nº de cilind.</td>
      <td>G/D</td>
      <td>P kW</td>
      <td>cvf</td>
      <td>CO2 g/km</td>
      <td>VALOR Euros</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>124  1.4 Spider  / TB Multiair 6V  170</td>
      <td>2016-</td>
      <td>1368</td>
      <td>4</td>
      <td>G</td>
      <td>125 </td>
      <td>10,61</td>
      <td>148</td>
      <td>170</td>
      <td>31200</td>
    </tr>
    <tr>
      <td>124  1.4 Spider  / TB Multiair 6V  Aut.  170</td>
      <td>2016-</td>
      <td>1368</td>
      <td>4</td>
      <td>G</td>
      <td>125 </td>
      <td>10,61</td>
      <td>153</td>
      <td>170</td>
      <td>32800</td>
    </tr>
    <tr>
      <td>500 1.4 T-Jet</td>
      <td>2009-2016</td>
      <td>1368</td>
      <td>4</td>
      <td>G</td>
      <td>99 </td>
      <td>10,61</td>
      <td>155</td>
      <td>135</td>
      <td>14000</td>
    </tr>
    <tr>
      <td>500 1.4 T-Jet  Secuencial</td>
      <td>2009-2016</td>
      <td>1368</td>
      <td>4</td>
      <td>G</td>
      <td>103 </td>
      <td>10,61</td>
      <td>150</td>
      <td>140</td>
      <td>15300</td>
    </tr>
    <tr>
      <td>500  1.4 T-Jet 595 Competizione  160</td>
      <td>2009-2016</td>
      <td>1368</td>
      <td>4</td>
      <td>G</td>
      <td>118 </td>
      <td>10,61</td>
      <td>155</td>
      <td>160</td>
      <td>17200</td>
    </tr>
    <tr>
      <td>500  1.4 T-Jet 595 Competizione Secuencial 160</td>
      <td>2009-2016</td>
      <td>1368</td>
      <td>4</td>
      <td>G</td>
      <td>118 </td>
      <td>10,61</td>
      <td>150</td>
      <td>160</td>
      <td>19800</td>
    </tr>
    <tr>
      <td>500  1.4 T-Jet 595 Turismo 160</td>
      <td>2009-2016</td>
      <td>1368</td>
      <td>4</td>
      <td>G</td>
      <td>118 </td>
      <td>10,61</td>
      <td>155</td>
      <td>160</td>
      <td>16500</td>
    </tr>
    <tr>
      <td>500  1.4 T-Jet 595 Turismo (Secuencial) 160</td>
      <td>2009-2016</td>
      <td>1368</td>
      <td>4</td>
      <td>G</td>
      <td>118 </td>
      <td>10,61</td>
      <td>150</td>
      <td>160</td>
      <td>17700</td>
    </tr>
    <tr>
      <td>500  1.4 T-Jet 595 Competizione  180</td>
      <td>2009-2016</td>
      <td>1368</td>
      <td>4</td>
      <td>G</td>
      <td>132 </td>
      <td>10,61</td>
      <td>139</td>
      <td>180</td>
      <td>19600</td>
    </tr>
    <tr>
      <td>500  1.4 T-Jet 595 Competizione Secuencial  180</td>
      <td>2009-2016</td>
      <td>1368</td>
      <td>4</td>
      <td>G</td>
      <td>132 </td>
      <td>10,61</td>
      <td>134</td>
      <td>180</td>
      <td>20900</td>
    </tr>
    <tr>
      <td>500 Vita</td>
      <td>2009-2016</td>
      <td>1368</td>
      <td>4</td>
      <td>G</td>
      <td>99 </td>
      <td>10,61</td>
      <td>155</td>
      <td>135</td>
      <td>14400</td>
    </tr>
    <tr>
      <td>500 C</td>
      <td>2010-2016</td>
      <td>1368</td>
      <td>4</td>
      <td>G</td>
      <td>99 </td>
      <td>10,61</td>
      <td>155</td>
      <td>135</td>
      <td>15400</td>
    </tr>
    <tr>
      <td>500 C 1.4 T-Jet </td>
      <td>2010-2016</td>
      <td>1368</td>
      <td>4</td>
      <td>G</td>
      <td>99 </td>
      <td>10,61</td>
      <td>155</td>
      <td>135</td>
      <td>15400</td>
    </tr>
    <tr>
      <td>500 C 1.4 T-Jet Secuencial 140</td>
      <td>2010-2016</td>
      <td>1368</td>
      <td>4</td>
      <td>G</td>
      <td>103 </td>
      <td>10,61</td>
      <td>150</td>
      <td>140</td>
      <td>16600</td>
    </tr>
    <tr>
      <td>500 C 1.4 T-Jet 595 Competizione 160</td>
      <td>2010-2016</td>
      <td>1368</td>
      <td>4</td>
      <td>G</td>
      <td>118 </td>
      <td>10,61</td>
      <td>155</td>
      <td>160</td>
      <td>18600</td>
    </tr>
    <tr>
      <td>500 C 1.4 T-Jet 595 Competizione Secuencial  160</td>
      <td>2010-2016</td>
      <td>1368</td>
      <td>4</td>
      <td>G</td>
      <td>118 </td>
      <td>10,61</td>
      <td>150</td>
      <td>160</td>
      <td>21100</td>
    </tr>
    <tr>
      <td>500 C 1.4 T-Jet 595 Turismo 160</td>
      <td>2010-2016</td>
      <td>1368</td>
      <td>4</td>
      <td>G</td>
      <td>118 </td>
      <td>10,61</td>
      <td>155</td>
      <td>160</td>
      <td>17900</td>
    </tr>
    <tr>
      <td>500 C 1.4 T-Jet 595 Turismo (Secuencial) 160</td>
      <td>2010-2016</td>
      <td>1368</td>
      <td>4</td>
      <td>G</td>
      <td>118 </td>
      <td>10,61</td>
      <td>150</td>
      <td>160</td>
      <td>19100</td>
    </tr>
    <tr>
      <td>500 C  1.4 T-Jet 595 Competizione  180</td>
      <td>2010-2016</td>
      <td>1368</td>
      <td>4</td>
      <td>G</td>
      <td>132 </td>
      <td>10,61</td>
      <td>139</td>
      <td>180</td>
      <td>20900</td>
    </tr>
    <tr>
      <td>500 C  1.4 T-Jet 595 Competizione Secuencial  180</td>
      <td>2010-2016</td>
      <td>1368</td>
      <td>4</td>
      <td>G</td>
      <td>132 </td>
      <td>10,61</td>
      <td>134</td>
      <td>180</td>
      <td>22200</td>
    </tr>
    <tr>
      <td>595 1.4 T-Jet </td>
      <td>2016-</td>
      <td>1368</td>
      <td>4</td>
      <td>G</td>
      <td>103 </td>
      <td>10,61</td>
      <td>139</td>
      <td>140</td>
      <td>14800</td>
    </tr>
    <tr>
      <td>595 1.4 T-Jet Secuencial </td>
      <td>2016-</td>
      <td>1368</td>
      <td>4</td>
      <td>G</td>
      <td>103 </td>
      <td>10,61</td>
      <td>134</td>
      <td>140</td>
      <td>16100</td>
    </tr>
    <tr>
      <td>595 1.4 T-Jet  145</td>
      <td>2016-</td>
      <td>1368</td>
      <td>4</td>
      <td>G</td>
      <td>107 </td>
      <td>10,61</td>
      <td>139</td>
      <td>145</td>
      <td>15300</td>
    </tr>
    <tr>
      <td>595 1.4 T-Jet  Aut.  145</td>
      <td>2017-</td>
      <td>1368</td>
      <td>4</td>
      <td>G</td>
      <td>107 </td>
      <td>10,61</td>
      <td>134</td>
      <td>145</td>
      <td>16800</td>
    </tr>
    <tr>
      <td>595 1.4 T-Jet Turismo  160</td>
      <td>2016-</td>
      <td>1368</td>
      <td>4</td>
      <td>G</td>
      <td>118 </td>
      <td>10,61</td>
      <td>139</td>
      <td>160</td>
      <td>18000</td>
    </tr>
    <tr>
      <td>595 1.4 T-Jet Turismo Secuencial  160</td>
      <td>2016-</td>
      <td>1368</td>
      <td>4</td>
      <td>G</td>
      <td>118 </td>
      <td>10,61</td>
      <td>134</td>
      <td>160</td>
      <td>19300</td>
    </tr>
    <tr>
      <td>595 1.4 T-Jet Turismo  165</td>
      <td>2016-</td>
      <td>1368</td>
      <td>4</td>
      <td>G</td>
      <td>121 </td>
      <td>10,61</td>
      <td>139</td>
      <td>165</td>
      <td>18400</td>
    </tr>
    <tr>
      <td>595 1.4 T-Jet Turismo Aut.  165</td>
      <td>2017-</td>
      <td>1368</td>
      <td>4</td>
      <td>G</td>
      <td>121 </td>
      <td>10,61</td>
      <td>134</td>
      <td>165</td>
      <td>19600</td>
    </tr>
    <tr>
      <td>595 1.4 T-Jet Competizione  180</td>
      <td>2016-</td>
      <td>1368</td>
      <td>4</td>
      <td>G</td>
      <td>132 </td>
      <td>10,61</td>
      <td>139</td>
      <td>180</td>
      <td>20200</td>
    </tr>
    <tr>
      <td>595 1.4 T-Jet Competizione Secuencial  180</td>
      <td>2016-</td>
      <td>1368</td>
      <td>4</td>
      <td>G</td>
      <td>132 </td>
      <td>10,61</td>
      <td>134</td>
      <td>180</td>
      <td>21600</td>
    </tr>
    <tr>
      <td>595 C 1.4 T-Jet </td>
      <td>2016-</td>
      <td>1368</td>
      <td>4</td>
      <td>G</td>
      <td>99 </td>
      <td>10,61</td>
      <td>139</td>
      <td>135</td>
      <td>16100</td>
    </tr>
    <tr>
      <td>595 C 1.4 T-Jet Secuencial  140</td>
      <td>2016-</td>
      <td>1368</td>
      <td>4</td>
      <td>G</td>
      <td>103 </td>
      <td>10,61</td>
      <td>134</td>
      <td>140</td>
      <td>17500</td>
    </tr>
    <tr>
      <td>595 C 1.4 T-Jet  145</td>
      <td>2016-</td>
      <td>1368</td>
      <td>4</td>
      <td>G</td>
      <td>107 </td>
      <td>10,61</td>
      <td>139</td>
      <td>145</td>
      <td>16700</td>
    </tr>
    <tr>
      <td>595 C 1.4 T-Jet  Aut.  145</td>
      <td>2017-</td>
      <td>1368</td>
      <td>4</td>
      <td>G</td>
      <td>107 </td>
      <td>10,61</td>
      <td>134</td>
      <td>145</td>
      <td>17900</td>
    </tr>
    <tr>
      <td>595 C 1.4 T-Jet Turismo  160</td>
      <td>2016-</td>
      <td>1368</td>
      <td>4</td>
      <td>G</td>
      <td>118 </td>
      <td>10,61</td>
      <td>139</td>
      <td>160</td>
      <td>19300</td>
    </tr>
    <tr>
      <td>595 C 1.4 T-Jet Turismo Secuencial  160</td>
      <td>2016-</td>
      <td>1368</td>
      <td>4</td>
      <td>G</td>
      <td>118 </td>
      <td>10,61</td>
      <td>134</td>
      <td>160</td>
      <td>20700</td>
    </tr>
    <tr>
      <td>595 C 1.4 T-Jet Turismo  165</td>
      <td>2016-</td>
      <td>1368</td>
      <td>4</td>
      <td>G</td>
      <td>121 </td>
      <td>10,61</td>
      <td>139</td>
      <td>165</td>
      <td>19900</td>
    </tr>
    <tr>
      <td>595 C 1.4 T-Jet Turismo Aut.  165</td>
      <td>2017-</td>
      <td>1368</td>
      <td>4</td>
      <td>G</td>
      <td>121 </td>
      <td>10,61</td>
      <td>134</td>
      <td>165</td>
      <td>21400</td>
    </tr>
    <tr>
      <td>595 C 1.4 T-Jet Competizione  180</td>
      <td>2016-</td>
      <td>1368</td>
      <td>4</td>
      <td>G</td>
      <td>132 </td>
      <td>10,61</td>
      <td>139</td>
      <td>180</td>
      <td>21600</td>
    </tr>
    <tr>
      <td>595 C 1.4 T-Jet Competizione Secuencial  180</td>
      <td>2016-</td>
      <td>1368</td>
      <td>4</td>
      <td>G</td>
      <td>132 </td>
      <td>10,61</td>
      <td>134</td>
      <td>180</td>
      <td>22900</td>
    </tr>
    <tr>
      <td>695 Tributo Ferrari Rojo Corsa</td>
      <td>2011-2013</td>
      <td>1368</td>
      <td>4</td>
      <td>G</td>
      <td>132 </td>
      <td>10,61</td>
      <td>151</td>
      <td>180</td>
      <td>35100</td>
    </tr>
    <tr>
      <td>695 Tributo Ferrari Amarillo Modena</td>
      <td>2011-2013</td>
      <td>1368</td>
      <td>4</td>
      <td>G</td>
      <td>132 </td>
      <td>10,61</td>
      <td>151</td>
      <td>180</td>
      <td>36000</td>
    </tr>
    <tr>
      <td>695 Tributo Ferrari Azul Abu Dhabi</td>
      <td>2011-2013</td>
      <td>1368</td>
      <td>4</td>
      <td>G</td>
      <td>132 </td>
      <td>10,61</td>
      <td>151</td>
      <td>180</td>
      <td>36900</td>
    </tr>
    <tr>
      <td>695 Tributo Ferrari Gris Titanio</td>
      <td>2011-2013</td>
      <td>1368</td>
      <td>4</td>
      <td>G</td>
      <td>132 </td>
      <td>10,61</td>
      <td>151</td>
      <td>180</td>
      <td>36900</td>
    </tr>
    <tr>
      <td>695 Tributo Biposto</td>
      <td>2009-2016</td>
      <td>1368</td>
      <td>4</td>
      <td>G</td>
      <td>140 </td>
      <td>10,61</td>
      <td>155</td>
      <td>190</td>
      <td>30900</td>
    </tr>
    <tr>
      <td>695 Biposto</td>
      <td>2016-</td>
      <td>1368</td>
      <td>4</td>
      <td>G</td>
      <td>140 </td>
      <td>10,61</td>
      <td>145</td>
      <td>190</td>
      <td>31900</td>
    </tr>
    <tr>
      <td>Grande Punto</td>
      <td>2009-2010</td>
      <td>1368</td>
      <td>4</td>
      <td>G</td>
      <td>114 </td>
      <td>10,61</td>
      <td>162</td>
      <td>155</td>
      <td>13600</td>
    </tr>
    <tr>
      <td>Punto Evo 1.4 Multiair</td>
      <td>2010-2012</td>
      <td>1368</td>
      <td>4</td>
      <td>G</td>
      <td>121 </td>
      <td>10,61</td>
      <td>142</td>
      <td>165</td>
      <td>14000</td>
    </tr>
    <tr>
      <td>Punto 1.4 Multiair </td>
      <td>2012-2014</td>
      <td>1368</td>
      <td>4</td>
      <td>G</td>
      <td>121 </td>
      <td>10,61</td>
      <td>142</td>
      <td>165</td>
      <td>14600</td>
    </tr>
    <tr>
      <td>Punto 1.4 Multiair Supersport</td>
      <td>2012-2014</td>
      <td>1368</td>
      <td>4</td>
      <td>G</td>
      <td>132 </td>
      <td>10,61</td>
      <td>142</td>
      <td>180</td>
      <td>15500</td>
    </tr>
  </tbody>
</table>
