/* ////////////////
///// CABECERA ////
/////////////////*/

#crear-empresa-page #title-black {

        margin-top: 95px;
    height: 136px;
    background-image: url(../img/bg-autonomo.jpg);
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 20px;
}

#crear-empresa-page #title-black h2{
    text-align: center;
    font-family: 'Rajdhani';
    font-weight: 600;
    font-size: 25px;
    color:#fff;
}

#crear-empresa-page #title-black-mobile {
    display: none;
}


#crear-empresa-page #title-black h1,
#crear-empresa-page #title-black h3,
#crear-empresa-page #title-black p {
    margin: 0 auto;
    color: #fff;
    padding-top: 25px;
}

#crear-empresa-page .title-black {
    max-width: 100%;
}

#crear-empresa-page .cabecera .tit-precio {
    text-align: left;
    font-family: 'Rajdhani';
    font-weight: 600;
    font-size: 22px;
    color: #808183;
    padding: 0 0px;
}

#crear-empresa-page .precio{
        width: 124px;
    height: 110px;
    padding-top: 7px;
}

#crear-empresa-page .precio .text-precio, #crear-empresa-page .precio .euro, #crear-empresa-page .precio .num-precio, #crear-empresa-page .precio .mes-precio{
    color: #fff !important;
}

#crear-empresa-page .cabecera .datosprecio{
    color: #808183;
}

#crear-empresa-page .cabecera .datos-tlf{
        background-color: #F35B33;
    color: #fff;
}

#crear-empresa-page .col-sm-12.col-lg-3.img-section1 {
    margin-top: 45px;

}

#crear-empresa-page .tit-precio span {
    color: #F47250;
    font-weight: bold;
}

#crear-empresa-page .bloque2-section1 h2 {
    font-family: 'Rajdhani';
    font-weight: bold;
    font-size: 41px;
    color: #F47250;
    padding: 0 0px;
}



#crear-empresa-page #form-section1 {
    margin-top: 0px;
}

#crear-empresa-page .cabecera .img-section1 {
    margin-top: 55px;
}

#crear-empresa-page #form-section1 button {
    background-color: #F35B33;
    border: solid 1px #F35B33;
    transition: all .5s;
    color: #fff;
}

#crear-empresa-page #form-section1 button:hover {
    background-color: #fff;
    border: solid 1px #F35B33;
    transition: all .5s;
    color: #F35B33;
}

#crear-empresa-page #form-section1 .agree a {
    color: #808183;
}


#crear-empresa-page #form-section1 .agree {
    color: #808183;
}

#crear-empresa-page .arrow {
    padding-top: 110px;
}

#crear-empresa-page .title-section2 {
    margin: 0 auto;
    text-align: center;
    width: 100%;
    color: #808183;
    font-family: 'Rajdhani';
    font-weight: bold;
    font-size: 17px;
    padding: 0 26%;
    margin-top: 20px;
}

#crear-empresa-page .title-section2 span {
    color: #F47250;
}

#crear-empresa-page .cabecera h3 {
    margin: 0 auto;
    text-align: center;
    width: 100%;
    color: #808183;
    font-family: 'Rajdhani';
    font-weight: 600;
    font-size: 14px;
    padding: 0 26%;
    margin-top: 55px;
}

#crear-empresa-page .cabecera p {
    color: #808183;
}

#crear-empresa-page .cabecera p a{
    color: #808183;
}
.face-services {
    text-align: center;
}


#crear-empresa-page #form-section1 button{
        background-color: #00B5C8;
    border: solid 1px #00B5C8;
}

#crear-empresa-page #form-section1 button:hover{
     background-color: #fff;
    border: solid 1px #00B5C8;
    color: #00B5C8;
}

#crear-empresa-page .img-section1{
    padding-left: 5%;
}
 #crear-empresa-page .bloque2-section1 {
    max-width: 100%;
    flex: 0 0 100%;
}

/* //////////////////
///// SLIDE//////////
///////////////////*/

.slide-gestoria{
        padding: 15px 0;
    width: 100%;
    background-color: #E8EAEB;
    margin-top: 100px;
}

.slide-gestoria h2{
    margin: 0 auto;
    text-align: center;
    width: 100%;
    color: #808183;
    font-family: 'Rajdhani';
    font-weight: bold;
    font-size: 23px;
}

.slide-gestoria h2 span{
    color:#00B5C8
}



/* //////////////////
///// ASESORIAS//////
///////////////////*/

.gestoria{
        margin-top: 70px;
}
.contenido-gestoria{
      background-image: url(../img/bg-sucursal.jpg);
    background-repeat: no-repeat;
    min-height: 464px;
    background-position: center;
}





.gestoria img{
    margin: 0 auto;
}

.gestoria h2 span{
        margin-top: 40px;
    text-align: center;
    width: 100%;
    color: #808183;
    font-family: 'Rajdhani';
    font-weight: bold;
    font-size: 24px;
}

.gestoria h2{
    margin-top: 40px;
    font-size: 32px;
    color: #00B5C8;
    text-align: center;
    width: 100%;
    font-family: 'Rajdhani';
    font-weight: bold;
    line-height: 1;
        margin-bottom: 20px;
}

.gestoria p{
        margin-top: 30px;
    text-align: center;
    color: #808183;
    font-family: 'Rajdhani';
    font-weight: normal;
    font-size: 18px;
    padding: 0px 0%;
    line-height: 21px;
}

.gestoria p.boton-asesorias{
    margin-top:30px;
}

.gestoria p span{
    font-weight: 600;
}

.gestoria a{
        border-radius: 3px;
    padding: 3px 20px;
    font-family: 'Rajdhani';
    font-weight: 600;
     font-size: 16px;
    color:#fff;
    text-decoration: none;
    background-color:#F35B33; 
}

.gestoria img{
    transform: scale(0);
}
/* ////////////////
///// FORMULARIO ////
/////////////////*/

#crear-empresa-page .pre-formulario {
    background-color: rgba(0, 181, 200, 1);
    margin-top: 100px;
    justify-content: center;
}

#crear-empresa-page .pre-formulario p {
    font-family: 'Rajdhani';
    font-weight: bold;
    font-size: 24px;
    color: #fff;
    text-align: center;
    padding: 25px 0 15px 0;
}

#crear-empresa-page .pre-formulario h2 span {
    font-weight: bold;
}

#crear-empresa-page .formulario {
    background-color: rgba(0, 181, 200, 0.5);
    margin-top: 0;
}

#crear-empresa-page .formulario h3 {
    padding-top: 30px;

}

#crear-empresa-page #form-section2 button {
    color: #00B5C8;
}

#crear-empresa-page #form-section2 button:hover {
    background-color:#00B5C8;
    color: #fff;
    border-color:#fff;
}

#crear-empresa-page .contenido-formulario{
    margin-top: 30px;}


#crear-empresa-page .texto-formulario, #crear-empresa-page .texto-formulario2{
    font-family: 'Rajdhani';
    font-weight: normal;
    font-size: 14px;
    color: #fff;
}

#crear-empresa-page .texto-formulario2{
    font-weight: bold;
}

#crear-empresa-page > div.row.formulario.justify-content-md-center > div > div > div:nth-child(1){
    padding-left: 110px;
        padding-top: 15px;
}

/* ///////////////////////
///// MODULO EMPRESAS ////
////////////////////////*/

.modulo-empresas{
    margin-top: 60px;
}

.pre-item-sucursal {
    margin-bottom: 80px;
}

.pre-item-sucursal h2{
    font-family: 'Rajdhani';
    font-weight: 600;
    font-size: 25px;
    color: #00B5C8;
    text-align: center;
        margin-bottom: 0;
}
.pre-item-sucursal h3{
    font-family: 'Rajdhani';
    font-weight: 600;
    font-size: 25px;
    color: #F35B33;
    text-align: center;
    margin-bottom: 20px;
}

.pre-item-sucursal p{
    font-family: 'Rajdhani';
    font-weight: normal;
    font-size: 14px;
    color: #808183;
    text-align: center;
    line-height: 16px;
}

.pre-item-sucursal p span{
        font-weight: 600;

}

.modulo-empresas .tit-gestores{
        margin-top: 5px;
   font-family: 'Rajdhani';
    font-weight: bold;
    font-size: 16px;
    color: #00B5C8;
}

.modulo-empresas .tit-gestores span{
       
    font-size: 13px;
}



.modulo-empresas .text-gestores1{
    font-family: 'Rajdhani';
    font-weight: normal;
        font-size: 12px;
    line-height: 15px;
    color: #808183; 
    margin-bottom: 0;
        margin-top: 15px;
}
.modulo-empresas li{
    font-family: 'Rajdhani';
    font-weight: normal;
        font-size: 12px;
    color: #808183; 
    margin-bottom: 0;
}
.modulo-empresas li:nth-child(3){
    margin-top: 15px;
}
.modulo-empresas li:nth-child(7){
    margin-bottom: 25px;
}

.modulo-empresas .text-gestores1 span, .modulo-empresas .text-gestores2 span{
    font-weight: 600;
}


.modulo-empresas .display-block-right .text-gestores1{
    padding-left: 18%;
}




.modulo-empresas .item-emp1{
    padding-right: 0;
}

.modulo-empresas .item-emp2{
    padding-left: 0;
}

.display-block-right{
    display: block;
    text-align: right;
        margin-top: 60px;
}
.display-block-left{
    width: 100%;
    text-align: left;
}

.modulo-empresas .gestor-name{
    font-family: 'Rajdhani';
    font-weight: 600;
    font-size: 13px;
    color: #808183; 
    margin-bottom: 0;
     padding:0 65px;
        margin-top: 20px;
}

.modulo-empresas .gestor-description{
    font-family: 'Rajdhani';
    font-weight: normal;
    font-size: 14px;
    color: #808183; 
    padding:0 65px;
}


#crear-empresa-page .panel1{
    margin-top: 0px !important;
    padding: 0 !important;
}




/* ////////////////
///// MEDIAS ////
/////////////////*/
@media(max-width:990px){
    .gestores{
            padding: 0 25px;
    }
    .col-lg-12 .gestor-name {
        margin-top: 10px;}
    .col-sm-2.col-lg-2.columncenter{
        display: none;
    }
    .item-asesorias p {
            width: 62%;
    margin: 0 auto;
    }
    #crear-empresa-page > div.row.formulario.justify-content-md-center > div > div > div:nth-child(1){
        padding: 0 20%;}
    #crear-empresa-page .bloque2-section1 h2 {
        font-size: 30px;
    }
}

@media(max-width:990px){
    
    .gestoria p {
    padding: 0px 0%;
}
}

@media(max-width:767px){
    .services{
        margin-top: 30px;
    }
    .pre-item-sucursal{
        margin-bottom: 30px;
    }
    #crear-empresa-page > div.row.formulario.justify-content-md-center > div > div > div:nth-child(1){
        display: none;
    }
    .gestoria{
        margin-top: 30px;
    }
    .slide-gestoria{
        margin-top: 30px;
    }
    .slide-gestoria h2{
        font-size: 20px;
        padding: 0 20px;
    }
    .img-servicios1-mobile{
        display: block;
    text-align: center;
}
    .img-servicios1-mobile h2{
         font-family: 'Rajdhani';
    font-weight: bold;
    font-size: 23px;
    color: #fff;
    position: absolute;
    text-align: center;
        top: 102px;
        left: 37%;
        
    }
    .img-servicios1{
        display: none;
    }
    
     .item-asesorias p {
            width: 80%;
    margin: 0 auto;
    }
    
}

@media (max-width: 634px){
    .modulo-empresas .gestor-description{
        padding: 0;
    }
    .modulo-empresas .gestor-name{
        padding: 0;
    }
    .asesorias .precio  {
    padding-left: 10px;
}
    #crear-empresa-page #title-black h2 {
    font-size: 17px;
}
    .modulo-empresas .display-block-right .text-gestores1{
        padding-left: 0;
    }
}

@media (max-width: 574px){
    .contenido-gestoria {
    background-image: url(../img/bg-gestorias-mobile.jpg);
    background-repeat: no-repeat;
    min-height: 697px;
    background-position: center;
}
    #crear-empresa-page .img-section1{
        padding: 0;
    }
    .gestoria p {
    margin-top: 25px;
    
    padding: 0px 22%;
}
    .gestoria h2 {
        margin-top: 30%;}
    .gestoria h3{
        margin-top: 30%;

    }
}

@media(max-width:450px){
    
    .gestoria h2 {
        margin-top: 40%;}
    .gestoria p {
        padding: 0px 10%;
    }
    
    .item-asesorias p {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 10px;
}
    .item-left-asesorias {
    background-size: contain;
}
    .item-right-asesorias {
    background-size: contain;
}
    .item-asesorias{
        margin-top: 0;
    }
    .item-asesorias.item-right-asesorias{
        margin-top: -90px;
    }
    .item-asesorias p{
            font-size: 13px;
    }
    
    .ciudades .panel-why .subpanel-why {
    padding-left: 14px;
        min-width: 50%;
    width: auto;
    padding: 0px;
        margin-top: 0;
}
    .item-asesorias h3 {
        margin-top: 100px;}
    
      #crear-empresa-page .pre-formulario h2 {
    padding: 21px 20% 12px 20%;
}
    #crear-empresa-page > div.row.formulario.justify-content-md-center > div > div > div:nth-child(1){
        padding: 0px 12% 12px 12%;
    }
    
    .tit-ciudades {
        width: 100%;}
    .tit-ciudades2 {
        width: 100%;}
    
.slide-ciudades {
    padding: 20px 10px 15px 10px;
    }
    #crear-empresa-page .img-section1{
        padding: 0 15px;
    }
    
    
    #crear-empresa-page .precio {
        
    margin-bottom: 15px;}
    
    .item-asesorias h2 {
        margin-bottom: 5px;}
    #crear-empresa-page .col-sm-12.col-lg-3.img-section1{
            margin-top: 10px;
    }
     #crear-empresa-page h1.title-black{
        font-size: 25px;
            padding: 0 22px;
    }
    #crear-empresa-page #title-black {
        margin-top: 55px;}
    #crear-empresa-page .bloque2-section1 {
    max-width: 98%;
    flex: 0 0 98%;
}
    #crear-empresa-page .bloque2-section1 h2{
        text-align: center;
        margin-top: 30px
    }
    
    #crear-empresa-page #form-section1 {
    max-width: 320px;
        margin: 0 auto;
}
    
    #crear-empresa-page .title-section2{
            padding: 0 8%;
    }
    #crear-empresa-page .cabecera h3{
        padding: 0 8%;
    }
    #crear-empresa-page .cabecera p{
        padding: 0 0%;
    }
    
  
    .descripcion .txt-descripcion1{
        margin-bottom: 0;
        margin-top: 10px;
    }
    .item-left .col-sm-12{
            padding:0 10px !important;
    }.item-right .col-sm-12{
            padding:0 10px !important;
    }
    .gestores .col-lg-12{
        padding: 0;
    }
    .item-left .col-lg-12 .gestor-name, .item-left .col-lg-12 .gestor-description, .item-right .col-lg-12 .gestor-name, .item-right .col-lg-12 .gestor-description{
        padding: 0 10px;
    }
    .img-gestor{display: none;}
    .img-gestor-mobile{
        display: block
    }
    .gestores p{
        margin-bottom: 0;
    }
    .col-lg-12 .gestor-name {
        margin-top: 13px;}
    #crear-empresa-page > div.container > div.row.gestores.justify-content-sm-center > div:nth-child(3),
#crear-empresa-page > div.container > div.row.gestores.justify-content-sm-center > div:nth-child(4) {
    margin-top: 0px;
}
    .gestores {
    margin-top: 35px;
    margin-bottom: 100px;
}
  
    #crear-empresa-page .formulario h3 {
    padding: 30px 13% 0px 13%;
}
    #crear-empresa-page .pre-formulario {
    margin-top: 20px;
}
    #crear-empresa-page #title-black h1{
        padding-top: 50px;
        font-size: 20px
    }
    #crear-empresa-page #title-black h2
        font-size: 20px
    }
    
}

@media(max-width:330px) {
    #crear-empresa-page .precio{
        width: 122px;
        height: auto;
    }
    #crear-empresa-page .precio img{
        width: 100%;
    }
}
@media(min-width:320px) {
    
    #crear-empresa-page #title-black {
        display: block !important;
    }
    
}






