/* ////////////////
///// CABECERA ////
/////////////////*/

#contacto-page #title-black {

        margin-top: 84px;
    height: 136px;
    background-image: url(../img/bg-servicios.jpg);
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 20px;
}

#contacto-page #title-black h2{
    text-align: center;
    font-family: 'Rajdhani';
    font-weight: 600;
    font-size: 25px;
    color:#fff;
}

#contacto-page #title-black-mobile {
    display: none;
}


#contacto-page #title-black h1,
#contacto-page #title-black h3,
#contacto-page #title-black p {
    margin: 0 auto;
    color: #fff;
    padding-top: 25px;
}

#contacto-page .title-black {
    max-width: 100%;
}

#contacto-page .cabecera .tit-precio {
    text-align: left;
    font-family: 'Rajdhani';
    font-weight: 600;
    font-size: 22px;
    color: #808183;
    padding: 0 0px;
}

#contacto-page .legal-precio {
    padding: 10px 30px 0 20px;
}


#contacto-page .precio .text-precio, #contacto-page .precio .euro, #contacto-page .precio .num-precio, #contacto-page .precio .mes-precio{
    color: #fff !important;
}

#contacto-page .cabecera .datosprecio{
    color: #808183;
}

#contacto-page .cabecera .datos-tlf{
        background-color: #F35B33;
    color: #fff;
}

#contacto-page .col-sm-12.col-lg-3.img-section1 {
    margin-top: 45px;

}

#contacto-page .tit-precio span {
    color: #F47250;
    font-weight: bold;
}

#contacto-page .bloque2-section1 h2 {
    font-family: 'Rajdhani';
    font-weight: bold;
    font-size: 41px;
    color: #F47250;
    padding: 0 0px;
}



#contacto-page #form-section1 {
    margin-top: 0px;
}

#contacto-page #form-section1 button {
    background-color: #F35B33;
    border: solid 1px #F35B33;
    transition: all .5s;
    color: #fff;
}

#contacto-page #form-section1 button:hover {
    background-color: #fff;
    border: solid 1px #F35B33;
    transition: all .5s;
    color: #F35B33;
}

#contacto-page #form-section1 .agree a {
    color: #808183;
}


#contacto-page #form-section1 .agree {
    color: #808183;
}

#contacto-page .arrow {
    padding-top: 110px;
}

#contacto-page .title-section2 {
    margin: 0 auto;
    text-align: center;
    width: 100%;
    color: #808183;
    font-family: 'Rajdhani';
    font-weight: bold;
    font-size: 17px;
    padding: 0 26%;
    margin-top: 20px;
}

#contacto-page .title-section2 span {
    color: #F47250;
}

#contacto-page .cabecera h3 {
    margin: 0 auto;
    text-align: center;
    width: 100%;
    color: #808183;
    font-family: 'Rajdhani';
    font-weight: 600;
    font-size: 14px;
    padding: 0 26%;
    margin-top: 55px;
}

#contacto-page .cabecera p {
    color: #808183;
}

#contacto-page .cabecera p a{
    color: #808183;
}
.face-services {
    text-align: center;
}


#contacto-page #form-section1 button{
        background-color: #F35B33;
    border: solid 1px #F35B33;
}

#contacto-page #form-section1 button:hover{
     background-color: #fff;
    border: solid 1px #F35B33;
    color: #F35B33;
}

#contacto-page .img-section1{
    margin-top: 55px;
    padding-left: 15%;
}
 #contacto-page .bloque2-section1 {
    max-width: 100%;
    flex: 0 0 100%;
}

.datosprecio {
    margin-left: 20px;
    float: left;
    max-width: 200px;
    color: #fff;
}

/* //////////////////
///// SLIDE//////////
///////////////////*/

.slide-autonomo{
        padding: 15px 0;
    width: 100%;
    background-color: #E8EAEB;
    margin-top: 100px;
}

.slide-autonomo h2{
    margin: 0 auto;
    text-align: center;
    width: 100%;
    color: #F35B33;
    font-family: 'Rajdhani';
    font-weight: bold;
    font-size: 23px;
}

.slide-autonomo h2 span{
    color:#00B5C8
}

/* //////////////////
///// ASESORIAS//////
///////////////////*/

.asesoria{
       margin-top: 30px;
    position: relative;
}

.asesoria h3{
    margin: 0 auto;
    text-align: center;
    width: 100%;
    color: #F35B33;
    font-family: 'Rajdhani';
    font-weight: bold;
    font-size: 23px;
}

.etiqueta-derecha {
    position: absolute;
    left: 91%;
        top: 50px;
    z-index: 1;
}

.etiqueta-izq {
    position: absolute;
    right: 91%;
        top: 50px;
    z-index: 1;
    transform: rotate(180deg);
}


.asesoria img{
    margin: 0 auto;
}



.asesoria h2{
    font-size: 32px;
    color: #002A41;
    text-align: center;
    width: 100%;
    font-family: 'Rajdhani';
    font-weight: bold;
    line-height: 1;
        margin-bottom: 0px;
        margin-top: 90px;

}

.asesoria p, .asesoria a {
           margin-top: 15px;
    text-align: center;
    color: #808183;
    font-family: 'Rajdhani';
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
        margin-bottom: 0;
        padding: 0 5px;

}


.asesoria p.boton-asesorias{
    margin-top:30px;
}

.asesoria p span{
    font-weight: 600;
}


.boton-telefono{
    border-radius: 7px !important;
    padding: 0px 20px !important;
    line-height: 55px !important;
    font-family: 'Rajdhani' !important;
    font-weight: bold !important;
    font-size: 45px !important;
    color: #fff !important;
    text-decoration: none !important;
    background-color: #F35B33 !important;
        margin: 0 auto !important;
    margin-top: 40px !important;
     margin-bottom: 100px !important;
}

/* ////////////////
///// FORMULARIO ////
/////////////////*/

#contacto-page .pre-formulario {
    background-color: rgba(0, 42, 65, 1);
    margin-top: 100px;
    justify-content: center;
}

#contacto-page .pre-formulario h2 {
    font-family: 'Rajdhani';
    font-weight: bold;
    font-size: 19px;
    color: #fff;
    text-align: center;
    padding: 25px 0 15px 0;
}

#contacto-page .pre-formulario h2 span {
    font-weight: bold;
}

#contacto-page .formulario {
    background-color: rgba(0, 42, 65, 0.5);
    margin-top: 0;
}

#contacto-page .formulario h3 {
    padding-top: 30px;

}

#contacto-page #form-section2 button {
    color: #002A41;
}

#contacto-page #form-section2 button:hover {
    background-color:#002A41;
    color: #fff;
    border-color:#fff;
}

#contacto-page .contenido-formulario{
    margin-top: 30px;}


#contacto-page .texto-formulario, #contacto-page .texto-formulario2{
    font-family: 'Rajdhani';
    font-weight: normal;
    font-size: 14px;
    color: #fff;
}

#contacto-page .texto-formulario2{
    font-weight: bold;
}

#contacto-page > div.row.formulario.justify-content-md-center > div > div > div:nth-child(1){
    padding-left: 110px;
        padding-top: 15px;
}


/* ///////////////////////
///// MODULO EMPRESAS ////
////////////////////////*/

.modulo-empresas{
    margin-top: 60px;
}

.pre-item-sucursal {
    margin-bottom: 100px;
}

.pre-item-sucursal h2{
    font-family: 'Rajdhani';
    font-weight: 600;
    font-size: 25px;
    color: #00B5C8;
    text-align: center;
        margin-bottom: 20px;
    padding: 0 20px;
}


.pre-item-sucursal p{
    font-family: 'Rajdhani';
    font-weight: normal;
    font-size: 14px;
    color: #808183;
    text-align: center;
    line-height: 16px;
}

.pre-item-sucursal p span{
        font-weight: bold;

}

.modulo-empresas li {
    font-family: 'Rajdhani';
    font-weight: 600;
    font-size: 14px;
    color: #808183;
    text-align: center;
    line-height: 16px;
    margin-bottom: 12px;
}

.modulo-empresas .tit-gestores{
        margin-top: 5px;
   font-family: 'Rajdhani';
    font-weight: bold;
    font-size: 16px;
    color: #002A41;
    line-height: 19px;
}



.modulo-empresas .text-gestores1{
    font-family: 'Rajdhani';
    font-weight: normal;
        font-size: 12px;
    line-height: 15px;
    color: #808183; 
    margin-bottom: 0;
        margin-top: 15px;
}

.modulo-empresas .text-gestores1 span, .modulo-empresas .text-gestores2 span{
    font-weight: bold;
}


.modulo-empresas .display-block-right .text-gestores1{
    padding-left: 18%;
}




.modulo-empresas .item-emp1{
    padding-right: 0;
}

.modulo-empresas .item-emp2{
    padding-left: 0;
}

.display-block-right{
    display: block;
    text-align: right;
        margin-top: 60px;
}
.display-block-left{
    width: 100%;
    text-align: left;
}

.modulo-empresas .gestor-name{
    font-family: 'Rajdhani';
    font-weight: 600;
    font-size: 13px;
    color: #808183; 
    margin-bottom: 0;
     padding:0 65px;
        margin-top: 20px;
}

.modulo-empresas .gestor-description{
    font-family: 'Rajdhani';
    font-weight: normal;
    font-size: 14px;
    color: #808183; 
    padding:0 65px;
}


#contacto-page .panel1{
    margin-top: 0px !important;
    padding: 0 !important;
}



/* ////////////////
///// OPINIONES ////
/////////////////*/

#contacto-page .publi{
        margin-top: 70px !important;
}

.slide-opiniones{
    color:#F35B33;
    background-color: #E8EAEB;
        padding: 20px 0 15px 0;
margin-top: 100px;
}

.slide-opiniones h2{
         font-family: 'Rajdhani';
    font-weight: 600;
    font-size: 23px;
    text-align: center;}

.opiniones-autonomo{
        margin-top: 40px;
}


.opiniones-autonomo .title-opiniones1 {
    font-family: 'Rajdhani';
    font-weight: 600;
    font-size: 14px;
    color: #fff;
    background-color: #F35B33;
    text-align: center;
    border-radius: 4px;
    padding: 4px 10px;
    margin: 0 auto;
}


/* ////////////////
///// CIUDADES ////
/////////////////*/

.slide-ciudades{
 color:#FFF;
    background-color: #00B5C8;
        padding: 20px 0 15px 0;
margin-top: 100px;
}

.slide-ciudades h2{
         font-family: 'Rajdhani';
    font-weight: 600;
    font-size: 23px;
    text-align: center;}

.tit-ciudades {
    
    width: 60%;
    font-family: 'Rajdhani';
    font-weight: normal;
    font-size: 13px;
    text-align: center;
    margin: 0 auto;
    color: #808183;
        margin-top: 30px;
        margin-bottom: 15px;
}

.tit-ciudades span{
    font-weight: bold;
}

.desplegable-ciudades{
    font-family: 'Rajdhani';
    font-weight: normal;
    font-size: 13px;
    text-align: center;
    color:#F35B33 !important;
}

.desplegable-ciudades span{
     font-weight: bold;
}

.ciudades .panel-why{
    text-align: center;
}

.tit-ciudades2{
    
    width: 50%;
    font-family: 'Rajdhani';
    font-weight: normal;
    font-size: 13px;
    text-align: center;
    margin: 0 auto;
    color: #808183;
        margin-top: 30px;
        margin-bottom: 15px;
}

.subpanel-why a{
    display: block;
    font-family: 'Rajdhani';
    font-weight: bold;
    font-size: 15px;
    text-align: left;
    color: #808183;
}

.ciudades .panel-why .subpanel-why {
    padding: 0 50px;
    margin-top: 20px;
}

.ciudades .fa{
    line-height: 3;
}
/* ////////////////
///// MEDIAS ////
/////////////////*/
@media(max-width:990px){
    .gestores{
            padding: 0 25px;
    }
    .col-lg-12 .gestor-name {
        margin-top: 10px;}
    .col-sm-2.col-lg-2.columncenter{
        display: none;
    }
    .item-asesorias p {
            width: 62%;
    margin: 0 auto;
    }
    #contacto-page > div.row.formulario.justify-content-md-center > div > div > div:nth-child(1) {
    padding: 0 20%;
}
    #contacto-page .bloque2-section1 h2 {
        font-size: 30px;
    }
    
}

@media(max-width:990px){
    
    .gestoria p {
    padding: 0px 0%;
}
}

@media(max-width:767px){
    
    
    #contacto-page .img-section1 .row{
        justify-content: center;
        text-align: center;
        
    }
    .datosprecio{margin: 0;}
    
    
    .img-servicios1-mobile{
        display: block;
    text-align: center;
}
    .img-servicios1-mobile h2{
         font-family: 'Rajdhani';
    font-weight: bold;
    font-size: 23px;
    color: #fff;
    position: absolute;
    text-align: center;
        top: 102px;
        left: 37%;
        
    }
    .img-servicios1{
        display: none;
    }
    
     .item-asesorias p {
            width: 80%;
    margin: 0 auto;
    }
    
}

@media (max-width: 634px){
    .modulo-empresas .gestor-description{
        padding: 0;
    }
    .modulo-empresas .gestor-name{
        padding: 0;
    }
    .asesorias .precio  {
    padding-left: 10px;
}
    #contacto-page #title-black h2 {
    font-size: 17px;
}
    .modulo-empresas .display-block-right .text-gestores1{
        padding-left: 0;
    }
}

@media (max-width: 574px){

    #contacto-page .img-section1{
        padding: 0;
    }
    .gestoria p {
    margin-top: 25px;
    
    padding: 0px 22%;
}
    .gestoria h2 {
        margin-top: 0%;}
    .gestoria h3{
        margin-top: 30%;

    }
    .asesoria p {
    padding: 0px 19%;
}
}

@media(max-width:450px){
    
    .gestoria h3 {
        margin-top: 40%;}
    .gestoria p {
        padding: 0px 10%;
    }
    
    .item-asesorias p {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 10px;
}
    .item-left-asesorias {
    background-size: contain;
}
    .item-right-asesorias {
    background-size: contain;
}
    .item-asesorias{
        margin-top: 0;
    }
    .item-asesorias.item-right-asesorias{
        margin-top: -90px;
    }
    .item-asesorias p{
            font-size: 13px;
    }
    
    .ciudades .panel-why .subpanel-why {
    padding-left: 14px;
        min-width: 50%;
    width: auto;
    padding: 0px;
        margin-top: 0;
}
    .item-asesorias h3 {
        margin-top: 100px;}
    
      #contacto-page .pre-formulario h2 {
    padding: 21px 20% 12px 20%;
}
    #contacto-page > div.row.formulario.justify-content-md-center > div > div > div:nth-child(1){
        padding: 0px 12% 12px 12%;
    }
    
    .tit-ciudades {
        width: 100%;}
    .tit-ciudades2 {
        width: 100%;}
    
.slide-ciudades {
    padding: 20px 10px 15px 10px;
    }
    #contacto-page .img-section1{
        padding: 0 15px;
    }
    
    
    #contacto-page .precio {
        padding-left: 10px;
    margin-bottom: 15px;}
    
    .item-asesorias h2 {
        margin-bottom: 5px;}
    #contacto-page .col-sm-12.col-lg-3.img-section1{
            margin-top: 10px;
    }
     #contacto-page h1.title-black{
        font-size: 25px;
            padding: 0 22px;
    }
    #contacto-page #title-black {
        margin-top: 55px;}
    #contacto-page .bloque2-section1 {
    max-width: 98%;
    flex: 0 0 98%;
}
    #contacto-page .bloque2-section1 h2{
        text-align: center;
        margin-top: 30px
    }
    
    #contacto-page #form-section1 {
    max-width: 320px;
        margin: 0 auto;
}
    
    #contacto-page .title-section2{
            padding: 0 8%;
    }
    #contacto-page .cabecera h3{
        padding: 0 8%;
    }
    #contacto-page .cabecera p{
        padding: 0 0%;
    }
    
  
    .descripcion .txt-descripcion1{
        margin-bottom: 0;
        margin-top: 10px;
    }
    .item-left .col-sm-12{
            padding:0 10px !important;
    }.item-right .col-sm-12{
            padding:0 10px !important;
    }
    .gestores .col-lg-12{
        padding: 0;
    }
    .item-left .col-lg-12 .gestor-name, .item-left .col-lg-12 .gestor-description, .item-right .col-lg-12 .gestor-name, .item-right .col-lg-12 .gestor-description{
        padding: 0 10px;
    }
    .img-gestor{display: none;}
    .img-gestor-mobile{
        display: block
    }
    .gestores p{
        margin-bottom: 0;
    }
    .col-lg-12 .gestor-name {
        margin-top: 13px;}
    #contacto-page > div.container > div.row.gestores.justify-content-sm-center > div:nth-child(3),
#contacto-page > div.container > div.row.gestores.justify-content-sm-center > div:nth-child(4) {
    margin-top: 0px;
}
    .gestores {
    margin-top: 35px;
    margin-bottom: 100px;
}
  
    #contacto-page .formulario h3 {
    padding: 30px 13% 0px 13%;
}
    #contacto-page .pre-formulario {
    margin-top: 20px;
}
    #contacto-page #title-black h1{
        padding-top: 45px;
        font-size: 20px
    }
    #contacto-page #title-black h2{
        font-size: 20px
    }
         .asesoria p {
    font-size: 16px;
             padding: 0px 9%;
}
    
    
}


    

    
    
    @media(min-width:320px) {
    #contacto-page #title-black {
        display: block !important;
    }
    
}







