/* ////////////////
///// CABECERA ////
/////////////////*/

#patentes-page #title-black {

    margin-top: 95px;
    height: 136px;
    background-image: url(../img/bg-juridica.jpg);
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 20px;
}

#patentes-page #title-black h2 {
    text-align: center;
    font-family: 'Rajdhani';
    font-weight: 600;
    font-size: 25px;
    color: #fff;
}

#patentes-page #title-black-mobile {
    display: none;
}


#patentes-page #title-black h1,
#patentes-page #title-black h3,
#patentes-page #title-black p {
    margin: 0 auto;
    color: #fff;
    padding-top: 25px;
}

#patentes-page .title-black {
    max-width: 100%;
}

#patentes-page .tit-precio {
    text-align: left;
    font-family: 'Rajdhani';
    font-weight: 600;
    font-size: 22px;
    color: #808183;
    padding: 0 0px;
}




#patentes-page .precio .text-precio,
#patentes-page .precio .euro,
#patentes-page .precio .num-precio,
#patentes-page .precio .mes-precio {
    color: #fff !important;
}

#patentes-page .cabecera .datosprecio {
    color: #808183;
}

#patentes-page .cabecera .datos-tlf {
    background-color: #F35B33;
    color: #fff;
}

#patentes-page .col-sm-12.col-lg-3.img-section1 {
    margin-top: 45px;

}

#patentes-page .tit-precio span {
    color: #F47250;
    font-weight: bold;
}

#patentes-page .bloque2-section1 h2 {
    font-family: 'Rajdhani';
    font-weight: bold;
    font-size: 41px;
    color: #F47250;
    padding: 0 0px;
}



#patentes-page #form-section1 {
    margin-top: 0px;
}

#patentes-page #form-section1 button {
    background-color: #002A41;
    border: solid 1px #002A41;
    transition: all .5s;
    color: #fff;
}

#patentes-page #form-section1 button:hover {
    background-color: #fff;
    border: solid 1px #F35B33;
    transition: all .5s;
    color: #F35B33;
}

#patentes-page #form-section1 .agree a {
    color: #808183;
}


#patentes-page #form-section1 .agree {
    color: #808183;
}

#patentes-page .arrow {
    padding-top: 110px;
}

#patentes-page .title-section2 {
    margin: 0 auto;
    text-align: center;
    width: 100%;
    color: #808183;
    font-family: 'Rajdhani';
    font-weight: bold;
    font-size: 17px;
    padding: 0 26%;
    margin-top: 20px;
}

#patentes-page .title-section2 span {
    color: #F47250;
}

#patentes-page .cabecera h3 {
    margin: 0 auto;
    text-align: center;
    width: 100%;
    color: #808183;
    font-family: 'Rajdhani';
    font-weight: 600;
    font-size: 14px;
    padding: 0 26%;
    margin-top: 55px;
}

#patentes-page .cabecera p {
    color: #808183;
}

#patentes-page .cabecera p a {
    color: #808183;
}

.face-services {
    text-align: center;
}


#patentes-page #form-section1 button {
    background-color: #002A41;
    border: solid 1px #002A41;
}

#patentes-page #form-section1 button:hover {
    background-color: #fff;
    border: solid 1px #002A41;
    color: #002A41;
}

#patentes-page .img-section1 {
    padding-left: 7%;
    margin-top:55px;
}

#patentes-page .bloque2-section1 {
    max-width: 100%;
    flex: 0 0 100%;
}


/* //////////////////
///// ASESORIAS//////
///////////////////*/

.asesoria {
    margin-top: 70px;
    position: relative;
}

.R {
    right: 12%;
    top: 110px;
    z-index: 1;
    position: absolute;
}

.asesoria h2 {
    font-family: 'Rajdhani';
    font-weight: bold;
    font-size: 32px;
    text-align: center;
    color: #002A41;
    margin-bottom: 50px;
}


.contenido-gestoria {
    text-align: center;
    background-image: url(../img/bg-juridica2.jpg);
    background-repeat: no-repeat;
    min-height: 343px;
    background-position: center;
}

.asesoria h2 span {
    margin: 0 auto;
    text-align: center;
    width: 100%;
    color: #F35B33;
    font-family: 'Rajdhani';
    font-weight: bold;
    font-size: 23px;
    
}



.contenido-gestoria img {
    margin: 0 auto;
    position: relative;
    transform: scale(0);
}



.contenido-gestoria h2 {
    width: 80%;
    margin: 0 auto;
    font-size: 32px;
    color: #002A41;
    text-align: center;
    font-family: 'Rajdhani';
    font-weight: bold;
    line-height: 1;
    margin-bottom: 26px;
    margin-top: 56px;

}

.asesoria p {
    margin-top: 60px;
    text-align: center;
    color: #808183;
    font-family: 'Rajdhani';
    font-weight: normal;
    font-size: 18px;
    padding: 0px 8%;
    line-height: 21px;
    margin-bottom: 0;

}

.asesoria p.boton-asesorias {
    margin-top: 20px;
}

.asesoria p span {
    font-weight: bold;
}

.asesoria a {
    border-radius: 3px;
    padding: 3px 20px;
    font-family: 'Rajdhani';
    font-weight: 600;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    background-color: #F35B33;
}

/* ////////////////
///// FORMULARIO ////
/////////////////*/

#patentes-page .row.pre-formulario.justify-content-sm-center {
    background-color: rgba(0, 42, 65, 1);
    margin-top: 100px;
    justify-content: center;
}

#patentes-page .pre-formulario p {
    font-family: 'Rajdhani';
    font-weight: bold;
    font-size: 24px;
    color: #fff;
    text-align: center;
    padding: 25px 0 15px 0;
}

#patentes-page .pre-formulario h2 span {
    font-weight: bold;
}

#patentes-page .formulario {
    background-color: rgba(0, 42, 65, 0.5);
    margin-top: 0;
}

#patentes-page .formulario h3 {
    padding-top: 30px;

}

#patentes-page #form-section2 button {
    color: #002A41;
}

#patentes-page #form-section2 button:hover {
    background-color: #002A41;
    color: #fff;
    border-color: #fff;
}

#patentes-page .contenido-formulario {
    margin-top: 30px;
}


#patentes-page .texto-formulario,
#patentes-page .texto-formulario2 {
    font-family: 'Rajdhani';
    font-weight: normal;
    font-size: 14px;
    color: #fff;
}

#patentes-page .texto-formulario2 {
    font-weight: bold;
}

#patentes-page > div.row.formulario.justify-content-md-center > div > div > div:nth-child(1) {
    padding-left: 110px;
    padding-top: 15px;
}


/* ///////////////////////
///// MODULO EMPRESAS ////
////////////////////////*/

.modulo-empresas {
    margin-top: 60px;
}

.pre-item-sucursal {
    margin-bottom: 100px;
}



.pre-item-sucursal h2 {
    font-family: 'Rajdhani';
    font-weight: 600;
    font-size: 25px;
    color: #F35B33;
    text-align: center;
    margin-bottom: 50px;
}


.pre-item-sucursal p {
    font-family: 'Rajdhani';
    font-weight: normal;
    font-size: 13px;
    color: #808183;
    text-align: left;
    line-height: 15px;
}

.pre-item-sucursal p span {
    font-weight: 600;

}

.pre-item-sucursal h3 {
    font-family: 'Rajdhani';
    font-weight: bold;
    font-size: 13px;
    color: #F35B33;
    text-align: left;
    line-height: 15px;
    margin-bottom: 15px;
}

.modulo-empresas li {
    font-family: 'Rajdhani';
    font-weight: bold;
    font-size: 13px;
    color: #808183;
    text-align: left;
    line-height: 15px;
    margin-bottom: 5px;
}

.last-item-sucursal {
    margin-top: 100px;
    position: relative;
}

.etiqueta-derecha {
    position: absolute;
        left: 129%;
    top: 0px;
    z-index: 1;
}

.etiqueta-izq {
    position: absolute;
    right: 129%;
    top: 0px;
    z-index: 1;
    transform: rotate(180deg);
}

.last-item-sucursal h2{
    font-family: 'Rajdhani';
    font-weight: bold;
    font-size: 16px;
    color: #002A41;
    text-align: left;
    line-height: 19px;
    margin-bottom: 20px;
}

.last-item-sucursal p{
    font-family: 'Rajdhani';
    font-weight: normal;
    font-size: 12px;
    color: #808183;
    text-align: left;
    line-height: 15px;
    margin-bottom: 20px;
}

.modulo-empresas .tit-gestores {
    margin-top: 5px;
    font-family: 'Rajdhani';
    font-weight: bold;
    font-size: 16px;
    color: #002A41;
    line-height: 19px;
}



.modulo-empresas .text-gestores1 {
    font-family: 'Rajdhani';
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #808183;
    margin-bottom: 0;
    margin-top: 15px;
}

.modulo-empresas .text-gestores1 span,
.modulo-empresas .text-gestores2 span {
    font-weight: bold;
}


.modulo-empresas .display-block-right .text-gestores1 {
    padding-left: 18%;
}




.modulo-empresas .item-emp1 {
    padding-right: 0;
}

.modulo-empresas .item-emp2 {
    padding-left: 0;
}

.display-block-right {
    display: block;
    text-align: right;
    margin-top: 60px;
}

.display-block-left {
    width: 100%;
    text-align: left;
}

.modulo-empresas .gestor-name {
    font-family: 'Rajdhani';
    font-weight: 600;
    font-size: 13px;
    color: #808183;
    margin-bottom: 0;
    padding: 0 65px;
    margin-top: 20px;
}

.modulo-empresas .gestor-description {
    font-family: 'Rajdhani';
    font-weight: normal;
    font-size: 14px;
    color: #808183;
    padding: 0 65px;
}



/* ////////////////
///// SLIDER ////
/////////////////*/
.slider-patentes{
    background-color: #F35B33;
    padding: 15px 0;
    width: 100%;
    margin-top: 100px;
}

.slider-patentes h2{
    margin: 0 auto;
    text-align: center;
    width: 100%;
    color: #fff;
    font-family: 'Rajdhani';
    font-weight: bold;
    font-size: 23px;
}


/* ////////////////
///// REGISTRO ////
/////////////////*/

#patentes-page .registro .img-section1{
        margin-top: 0px !important;
}

.col-lg-8.item-registro {
    margin-top: 40px;
    margin-bottom: 70px;
}
.registro .img-section1{
    padding: 0 !important;
}

.registro .datosprecio{
    color:#808183;
}

.registro  .legal-precio a{
     color:#808183 !important;
}
.registro .legal-precio {
    color:#808183;
    padding: 10px 0px 0 10px !important;
}

.registro .datos-tlf{
    color: #fff !important;
    background-color: #F35B33;
}
.registro .datos-tlf a{
    color: #fff !important;}

.text-registro {
    padding-left: 40px;
    font-family: 'Rajdhani';
    font-weight: normal;
    font-size: 13px;
    color: #808183;
    text-align: left;
    line-height: 15px;

}

.text-registro p {
    width: 80%;
}
.text-registro span{
    font-weight: bold;
}

/* ////////////////
///// OPINIONES ////
/////////////////*/

#patentes-page .publi {
    margin-top: 70px !important;
}

.slide-opiniones {
    color: #F35B33;
    background-color: #E8EAEB;
    padding: 20px 0 15px 0;
    margin-top: 100px;
}

.slide-opiniones h2 {
    font-family: 'Rajdhani';
    font-weight: 600;
    font-size: 23px;
    text-align: center;
}

.opiniones-autonomo {
    margin-top: 40px;
}


.opiniones-autonomo .title-opiniones1 {
    font-family: 'Rajdhani';
    font-weight: 600;
    font-size: 14px;
    color: #fff;
    background-color: #F35B33;
    text-align: center;
    border-radius: 4px;
    padding: 4px 10px;
    margin: 0 auto;
}


/* ////////////////
///// CIUDADES ////
/////////////////*/

.slide-ciudades {
    color: #FFF;
    background-color: #00B5C8;
    padding: 20px 0 15px 0;
    margin-top: 100px;
}

.slide-ciudades h2 {
    font-family: 'Rajdhani';
    font-weight: 600;
    font-size: 23px;
    text-align: center;
}

.tit-ciudades {

    width: 60%;
    font-family: 'Rajdhani';
    font-weight: normal;
    font-size: 13px;
    text-align: center;
    margin: 0 auto;
    color: #808183;
    margin-top: 30px;
    margin-bottom: 15px;
}

.tit-ciudades span {
    font-weight: bold;
}

.desplegable-ciudades {
    font-family: 'Rajdhani';
    font-weight: normal;
    font-size: 13px;
    text-align: center;
    color: #F35B33 !important;
}

.desplegable-ciudades span {
    font-weight: bold;
}

.ciudades .panel-why {
    text-align: center;
}

.tit-ciudades2 {

    width: 50%;
    font-family: 'Rajdhani';
    font-weight: normal;
    font-size: 13px;
    text-align: center;
    margin: 0 auto;
    color: #808183;
    margin-top: 30px;
    margin-bottom: 15px;
}

.subpanel-why a {
    display: block;
    font-family: 'Rajdhani';
    font-weight: bold;
    font-size: 15px;
    text-align: left;
    color: #808183;
}

.ciudades .panel-why .subpanel-why {
    padding: 0 50px;
    margin-top: 20px;
}

.ciudades .fa {
    line-height: 3;
}

/* ////////////////
///// MEDIAS ////
/////////////////*/

@media(max-width:990px) {
    .gestores {
        padding: 0 25px;
    }
    .col-lg-12 .gestor-name {
        margin-top: 10px;
    }
    .col-sm-2.col-lg-2.columncenter {
        display: none;
    }
    .item-asesorias p {
        width: 62%;
        margin: 0 auto;
    }
    #patentes-page > div.row.formulario.justify-content-md-center > div > div > div:nth-child(1) {
        padding: 0 20%;
    }
    
    .R{
        display: none;
    }
    .diagrama{
        margin-bottom: 50px;
    }
    
    .slider-patentes {
    margin-top: 20px;
}
    #patentes-page .bloque2-section1 h2 {
        font-size: 30px;
    }
}

@media(max-width:980px) {
    #patentes-page .img-section1{
            margin-top: 55px;
    }
    .gestoria p {
        padding: 0px 0%;
    }
    .last-item-sucursal{
        margin-top: 0px;
    }
    
}

@media(max-width:767px) {
    .last-item-sucursal {
        margin-top: 50px;}
    .diagrama {
    text-align: center;
}
    .img-servicios1-mobile {
        display: block;
        text-align: center;
    }
    .img-servicios1-mobile h2 {
        font-family: 'Rajdhani';
        font-weight: bold;
        font-size: 23px;
        color: #fff;
        position: absolute;
        text-align: center;
        top: 102px;
        left: 37%;

    }
    .img-servicios1 {
        display: none;
    }

    .item-asesorias p {
        width: 80%;
        margin: 0 auto;
    }

}

@media (max-width: 634px) {
    .img-section1 {
        text-align: left;
    }
    .modulo-empresas .gestor-description {
        padding: 0;
    }
    .modulo-empresas .gestor-name {
        padding: 0;
    }
    .asesorias .precio {
        padding-left: 10px;
    }
    #patentes-page #title-black h2 {
        font-size: 17px;
    }
    .modulo-empresas .display-block-right .text-gestores1 {
        padding-left: 0;
    }
}

@media (max-width: 574px) {
    .registro .legal-precio {
        padding: 10px 60px 0 23px !important;}
    .text-registro{
           padding-left: 20px;  }
    
    .contenido-gestoria h2 {
        width: 50%;}
    .contenido-gestoria {
        background-image: url(../img/bg-gestorias-mobile.jpg);
        background-repeat: no-repeat;
        min-height: 697px;
        background-position: center;
    }
    #patentes-page .img-section1 {
        padding: 0;
    }
    .gestoria p {
        margin-top: 25px;

        padding: 0px 22%;
    }
    .gestoria h2 {
        margin-top: 0%;
    }
    .gestoria h3 {
        margin-top: 30%;

    }
    .asesoria p {
        padding: 0px 19%;
    }
}

@media(max-width:450px) {

    .gestoria h3 {
        margin-top: 40%;
    }
    .gestoria p {
        padding: 0px 10%;
    }

    .item-asesorias p {
        width: 100%;
        margin: 0 auto;
        margin-bottom: 10px;
    }
    .item-left-asesorias {
        background-size: contain;
    }
    .item-right-asesorias {
        background-size: contain;
    }
    .item-asesorias {
        margin-top: 0;
    }
    .item-asesorias.item-right-asesorias {
        margin-top: -90px;
    }
    .item-asesorias p {
        font-size: 13px;
    }

    .ciudades .panel-why .subpanel-why {
        padding-left: 14px;
        min-width: 50%;
        width: auto;
        padding: 0px;
        margin-top: 0;
    }
    .item-asesorias h3 {
        margin-top: 100px;
    }

    #patentes-page .pre-formulario h2 {
        padding: 21px 20% 12px 20%;
    }
    #patentes-page > div.row.formulario.justify-content-md-center > div > div > div:nth-child(1) {
        padding: 0px 12% 12px 12%;
    }

    .tit-ciudades {
        width: 100%;
    }
    .tit-ciudades2 {
        width: 100%;
    }

    .slide-ciudades {
        padding: 20px 10px 15px 10px;
    }
    #patentes-page .img-section1 {
        padding: 0 15px;
    }


    #patentes-page .precio {
        padding-left: 10px;
        margin-bottom: 15px;
    }

    .item-asesorias h2 {
        margin-bottom: 5px;
    }
    #patentes-page .col-sm-12.col-lg-3.img-section1 {
        margin-top: 10px;
    }
    #patentes-page h1.title-black {
        font-size: 25px;
        padding: 0 22px;
    }
    #patentes-page #title-black {
        margin-top: 55px;
    }
    #patentes-page .bloque2-section1 {
        max-width: 98%;
        flex: 0 0 98%;
    }
    #patentes-page .bloque2-section1 h2 {
        text-align: center;
        margin-top: 30px
    }

    #patentes-page #form-section1 {
        max-width: 320px;
        margin: 0 auto;
    }

    #patentes-page .title-section2 {
        padding: 0 8%;
    }
    #patentes-page .cabecera h3 {
        padding: 0 8%;
    }
    #patentes-page .cabecera p {
        padding: 0 0%;
    }


    .descripcion .txt-descripcion1 {
        margin-bottom: 0;
        margin-top: 10px;
    }
    .item-left .col-sm-12 {
        padding: 0 10px !important;
    }
    .item-right .col-sm-12 {
        padding: 0 10px !important;
    }
    .gestores .col-lg-12 {
        padding: 0;
    }
    .item-left .col-lg-12 .gestor-name,
    .item-left .col-lg-12 .gestor-description,
    .item-right .col-lg-12 .gestor-name,
    .item-right .col-lg-12 .gestor-description {
        padding: 0 10px;
    }
    .img-gestor {
        display: none;
    }
    .img-gestor-mobile {
        display: block
    }
    .gestores p {
        margin-bottom: 0;
    }
    .col-lg-12 .gestor-name {
        margin-top: 13px;
    }
    #patentes-page > div.container > div.row.gestores.justify-content-sm-center > div:nth-child(3),
    #patentes-page > div.container > div.row.gestores.justify-content-sm-center > div:nth-child(4) {
        margin-top: 0px;
    }
    .gestores {
        margin-top: 35px;
        margin-bottom: 100px;
    }

    #patentes-page .formulario h3 {
        padding: 30px 13% 0px 13%;
    }
    #patentes-page .pre-formulario {
        margin-top: 20px;
    }
    #patentes-page #title-black h1 {
        padding-top: 45px;
        font-size: 20px
    }
    #patentes-page #title-black h2 {
        font-size: 20px
    }
    .asesoria p {
        font-size: 16px;
        padding: 0px 9%;
    }


}






@media(min-width:320px) {
    #patentes-page #title-black {
        display: block !important;
    }

}
