/* ////////////////
///// CABECERA ////
/////////////////*/

#conocenos-page #title-black {

        margin-top: 95px;
    height: 136px;
    background-image: url(../img/bg-autonomo.jpg);
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 20px;
    text-align: center;
}

#conocenos-page #title-black img{
    margin-top: 30px;
}

#conocenos-page #title-black-mobile {
    display: none;
}


#conocenos-page #title-black h1,
#conocenos-page #title-black h3,
#conocenos-page #title-black p {
    margin: 0 auto;
    color: #fff;
    padding-top: 25px;
}

#conocenos-page .title-black {
    max-width: 100%;
}

#conocenos-page .cabecera .tit-precio {
    text-align: left;
    font-family: 'Rajdhani';
    font-weight: 600;
    font-size: 22px;
    color: #808183;
    padding: 0 0px;
}

#conocenos-page .cabecera img{
    width: 100%;
}

#conocenos-page .precio{
    background-color: #F35B33;
}

#conocenos-page .precio .text-precio, #conocenos-page .precio .euro, #conocenos-page .precio .num-precio, #conocenos-page .precio .mes-precio{
    color: #fff !important;
}

#conocenos-page .cabecera .datosprecio{
    color: #808183;
}

#conocenos-page .cabecera .datos-tlf{
        background-color: #F35B33;
    color: #fff;
}

#conocenos-page .col-sm-12.col-lg-3.img-section1 {
    margin-top: 45px;

}

#conocenos-page .tit-precio span {
    color: #F47250;
    font-weight: bold;
}

#conocenos-page .bloque2-section1 h2 {
    font-family: 'Rajdhani';
    font-weight: bold;
    font-size: 41px;
    color: #F47250;
    padding: 0 0px;
}



#conocenos-page #form-section1 {
    margin-top: 0px;
}

#conocenos-page #form-section1 button {
    background-color: #F35B33;
    border: solid 1px #F35B33;
    transition: all .5s;
    color: #fff;
}

#conocenos-page #form-section1 button:hover {
    background-color: #fff;
    border: solid 1px #F35B33;
    transition: all .5s;
    color: #F35B33;
}

#conocenos-page #form-section1 .agree a {
    color: #808183;
}


#conocenos-page #form-section1 .agree {
    color: #808183;
}

#conocenos-page .arrow {
    padding-top: 110px;
}

#conocenos-page .title-section2 {
    margin: 0 auto;
    text-align: center;
    width: 100%;
    color: #808183;
    font-family: 'Rajdhani';
    font-weight: bold;
    font-size: 17px;
    padding: 0 26%;
    margin-top: 20px;
}

#conocenos-page .title-section2 span {
    color: #F47250;
}

#conocenos-page .cabecera h3 {
    margin: 0 auto;
    text-align: center;
    width: 100%;
    color: #808183;
    font-family: 'Rajdhani';
    font-weight: 600;
    font-size: 14px;
    padding: 0 26%;
    margin-top: 55px;
}

#conocenos-page .cabecera p {
    color: #808183;
}

#conocenos-page .cabecera p a{
    color: #808183;
}
.face-services {
    text-align: center;
}


#conocenos-page #form-section1 button{
        background-color: #00B5C8;
    border: solid 1px #00B5C8;
}

#conocenos-page #form-section1 button:hover{
     background-color: #fff;
    border: solid 1px #00B5C8;
    color: #00B5C8;
}

#conocenos-page .img-section1{
    padding-left: 7%;
}
 #conocenos-page .bloque2-section1 {
    max-width: 100%;
    flex: 0 0 100%;
}

/* //////////////////
///// SLIDE//////////
///////////////////*/

.slide-autonomo{
        padding: 15px 0;
    width: 100%;
    background-color: #E8EAEB;
    margin-top: 100px;
}

.slide-autonomo h1{
    margin: 0 auto;
    text-align: center;
    width: 100%;
    color: #808183;
    font-family: 'Rajdhani';
    font-weight: bold;
    font-size: 23px;
}

.slide-autonomo h1 span{
    color:#00B5C8
}



/* //////////////////
///// ASESORIAS//////
///////////////////*/

.panel-why {
    position: relative;
    width: 100%;
    margin: 0 auto;
    color: #808183;
    margin-top: 44px;
    margin-bottom: 44px;
    padding: 0 34px;
}

.panel-why h2 {
    line-height: 30px;
    width: 100%;
    text-align: center;
    color: #00B5C8;
    font-family: 'Rajdhani';
    font-weight: 600;
    font-size: 20px;
        margin-top: 40px;
}



.panel-why p{
    text-align: justify;
    -moz-text-align-last: center;
    text-align-last: center;
    width: 100%;
    margin: 0 auto;
    margin-top: 30px;
    font-family: 'Rajdhani';
    font-weight: normal;
    font-size: 12px;
}


.panel-why .subpanel-why {
    padding: 0 30px;
    max-width: 300px
}

.img-why {
    margin: 0 auto;
}

/* ////////////////
///// FORMULARIO ////
/////////////////*/

#conocenos-page .pre-formulario {
    background-color: rgba(0, 181, 200, 1);
    margin-top: 0px;
}

#conocenos-page .pre-formulario h2 {
    font-family: 'Rajdhani';
    font-weight: bold;
    font-size: 29px;
    color: #fff;
    text-align: center;
    padding: 25px 0 15px 0;
    width: 100%;

}

#form-section2 {
    margin-top: 0px;}
#form-section3 {
    margin-top: 0px;}
#form-section4 {
    margin-top: 0px;}

#conocenos-page .pre-formulario h2 span {
    font-weight: bold;
}

#conocenos-page .formulario {
    background-color: rgba(0, 181, 200, 0.5);
    margin-top: 0;
}

#conocenos-page .pre-formulario2 {
    background-color: rgba(243, 91, 51, 1);
    margin-top: 100px;
}
#conocenos-page .formulario2 {
    background-color: rgba(243, 91, 51, 0.5);
    margin-top: 0;
}

#conocenos-page .pre-formulario3 {
    background-color: rgba(0, 42, 65, 1);
    margin-top: 100px;
}
#conocenos-page .formulario3 {
    background-color: rgba(0, 42, 65, 0.5);
    margin-top: 0;
}

#conocenos-page .formulario h3 {
    padding-top: 30px;

}

#conocenos-page #form-section2 button {
    color: #00B5C8;
}

#conocenos-page #form-section2 button:hover {
    background-color:#00B5C8;
    color: #fff;
    border-color:#fff;
}#conocenos-page #form-section3 button {
    color: rgb(243, 91, 51);
}

#conocenos-page #form-section3 button:hover {
    background-color:rgb(243, 91, 51);
    color: #fff;
    border-color:#fff;
}#conocenos-page #form-section4 button {
    color: rgba(0, 42, 65, 1);
}

#conocenos-page #form-section4 button:hover {
    background-color:rgba(0, 42, 65, 1);
    color: #fff;
    border-color:#fff;
}

#conocenos-page .contenido-formulario{
    margin-top: 30px;}


#conocenos-page .texto-formulario, #conocenos-page .texto-formulario2{
    font-family: 'Rajdhani';
    font-weight: normal;
    font-size: 14px;
    color: #fff;
}

#conocenos-page .texto-formulario2{
    font-weight: bold;
font-size: 17px;
    margin-bottom: 10px;
}

#conocenos-page > div.row.formulario.justify-content-md-center > div > div > div:nth-child(1){
    padding-left: 110px;
        padding-top: 35px;
}



form .form-group:nth-child(3){
    margin-bottom: 14px !important;
}
/* ///////////////////////
///// MODULO EMPRESAS ////
////////////////////////*/

.modulo-empresas{
    margin-top: 100px;
}

.modulo-empresas .tit-gestores{
   font-family: 'Rajdhani';
    font-weight: bold;
    font-size: 16px;
    color: #00B5C8; 
        margin-top: 30px;
}

.modulo-empresas .text-gestores1{
    font-family: 'Rajdhani';
    font-weight: normal;
    font-size: 13px;
    color: #808183; 
    margin-bottom: 0;
        margin-top: 15px;
}


.modulo-empresas .display-block-right .text-gestores1{
    padding-left: 18%;
}

.modulo-empresas .text-gestores2{
    font-family: 'Rajdhani';
    font-weight: bold;
    font-size: 13px;
    color: #808183; 
        margin-bottom: 30px;
}

.modulo-empresas .text-gestores3{
    font-family: 'Rajdhani';
    font-weight: bold;
    font-size: 13px;
    color: #00B5C8;
        margin-top: 30px;
}

.modulo-empresas .gestor-name{
    font-family: 'Rajdhani';
    font-weight: 600;
    font-size: 13px;
    color: #808183; 
    margin-bottom: 0;
     padding:0 65px;
        margin-top: 20px;
}

.modulo-empresas .gestor-description{
    font-family: 'Rajdhani';
    font-weight: normal;
    font-size: 14px;
    color: #808183; 
    padding:0 65px;
}

.modulo-empresas .item-emp1{
    padding-right: 0;
}

.modulo-empresas .item-emp2{
    padding-left: 0;
}

.display-block-right{
    display: block;
    text-align: right;
}
.display-block-left{
    width: 100%;
    text-align: left;
}



#conocenos-page .panel1{
    margin-top: 0px !important;
    padding: 0 !important;
}



/* ////////////////
///// OPINIONES ////
/////////////////*/

#conocenos-page .publi{
        margin-top: 70px !important;
}

.slide-opiniones{
    color:#F35B33;
    background-color: #E8EAEB;
        padding: 20px 0 15px 0;
margin-top: 100px;
}

.slide-opiniones h2{
         font-family: 'Rajdhani';
    font-weight: 600;
    font-size: 23px;
    text-align: center;}

.opiniones-autonomo{
        margin-top: 40px;
}


.opiniones-autonomo .title-opiniones1 {
    font-family: 'Rajdhani';
    font-weight: 600;
    font-size: 14px;
    color: #fff;
    background-color: #F35B33;
    text-align: center;
    border-radius: 4px;
    padding: 4px 10px;
    margin: 0 auto;
}


/* ////////////////
///// CIUDADES ////
/////////////////*/

.slide-ciudades{
 color:#FFF;
    background-color: #00B5C8;
        padding: 20px 0 15px 0;
margin-top: 100px;
}

.slide-ciudades h2{
         font-family: 'Rajdhani';
    font-weight: 600;
    font-size: 23px;
    text-align: center;}

.tit-ciudades {
    
    width: 60%;
    font-family: 'Rajdhani';
    font-weight: normal;
    font-size: 13px;
    text-align: center;
    margin: 0 auto;
    color: #808183;
        margin-top: 30px;
        margin-bottom: 15px;
}

.tit-ciudades span{
    font-weight: bold;
}

.desplegable-ciudades{
    font-family: 'Rajdhani';
    font-weight: normal;
    font-size: 13px;
    text-align: center;
    color:#F35B33 !important;
}

.desplegable-ciudades span{
     font-weight: bold;
}

.ciudades .panel-why{
    text-align: center;
}

.tit-ciudades2{
    
    width: 50%;
    font-family: 'Rajdhani';
    font-weight: normal;
    font-size: 13px;
    text-align: center;
    margin: 0 auto;
    color: #808183;
        margin-top: 30px;
        margin-bottom: 15px;
}

.subpanel-why a{
    display: block;
    font-family: 'Rajdhani';
    font-weight: bold;
    font-size: 15px;
    text-align: left;
    color: #808183;
}

.ciudades .panel-why .subpanel-why {
    padding: 0 50px;
    margin-top: 20px;
}

.ciudades .fa{
    line-height: 3;
}
/* ////////////////
///// MEDIAS ////
/////////////////*/
@media(max-width:990px){
    .gestores{
            padding: 0 25px;
    }
    .col-lg-12 .gestor-name {
        margin-top: 10px;}
    .col-sm-2.col-lg-2.columncenter{
        display: none;
    }
    .item-asesorias p {
            width: 62%;
    margin: 0 auto;
    }
    
}

@media(max-width:767px){
    .slide-opiniones{
            margin-top: 40px;
    }
    
    .panel-why {
    margin-top: 10px;
    margin-bottom: 0px;
}
    .slide-autonomo{
       
    margin-top: 30px;
}
    #conocenos-page .formulario{
        margin-bottom: 60px;
    }
    
    .panel-why .subpanel-why{
        padding: 0px;
    }
    .img-servicios1-mobile{
        display: block;
    text-align: center;
}
    .img-servicios1-mobile h2{
         font-family: 'Rajdhani';
    font-weight: bold;
    font-size: 23px;
    color: #fff;
    position: absolute;
    text-align: center;
        top: 102px;
        left: 37%;
        
    }
    .img-servicios1{
        display: none;
    }
    
     .item-asesorias p {
            width: 80%;
    margin: 0 auto;
    }
    
}

@media (max-width: 634px){
    .modulo-empresas .gestor-description{
        padding: 0;
    }
    .modulo-empresas .gestor-name{
        padding: 0;
    }
    .asesorias .precio  {
    padding-left: 10px;
}
    #conocenos-page #title-black h2 {
    font-size: 17px;
}
    .modulo-empresas .display-block-right .text-gestores1{
        padding-left: 0;
    }
}

@media(max-width:450px){
    #conocenos-page #title-black img {
    margin-top: 40px;
}
    .item-asesorias p {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 10px;
}
    .item-left-asesorias {
    background-size: contain;
}
    .item-right-asesorias {
    background-size: contain;
}
    .item-asesorias{
        margin-top: 0;
    }
    .item-asesorias.item-right-asesorias{
        margin-top: -90px;
    }
    .item-asesorias p{
            font-size: 13px;
    }
    
    .ciudades .panel-why .subpanel-why {
    padding-left: 14px;
        min-width: 50%;
    width: auto;
    padding: 0px;
        margin-top: 0;
}
    .item-asesorias h3 {
        margin-top: 100px;}
    
      #conocenos-page .pre-formulario h2 {
    padding: 21px 20% 12px 20%;
}
    #conocenos-page > div.row.formulario.justify-content-md-center > div > div > div:nth-child(1){
        padding: 0px 12% 12px 12%;
    }
    
    .tit-ciudades {
        width: 100%;}
    .tit-ciudades2 {
        width: 100%;}
    
.slide-ciudades {
    padding: 20px 10px 15px 10px;
    }
    #conocenos-page .img-section1{
        padding: 0 15px;
    }
    
    
    #conocenos-page .precio {
        padding-left: 10px;
    margin-bottom: 15px;}
    
    .item-asesorias h2 {
        margin-bottom: 5px;}
    #conocenos-page .col-sm-12.col-lg-3.img-section1{
            margin-top: 10px;
    }
     #conocenos-page h1.title-black{
        font-size: 25px;
            padding: 0 22px;
    }
    #conocenos-page #title-black {
        margin-top: 55px;}
    #conocenos-page .bloque2-section1 {
    max-width: 98%;
    flex: 0 0 98%;
}
    #conocenos-page .bloque2-section1 h2{
        text-align: center;
        margin-top: 30px
    }
    
    #conocenos-page #form-section1 {
    max-width: 320px;
        margin: 0 auto;
}
    
    #conocenos-page .title-section2{
            padding: 0 8%;
    }
    #conocenos-page .cabecera h3{
        padding: 0 8%;
    }
    #conocenos-page .cabecera p{
        padding: 0 8%;
    }
    
  
    .descripcion .txt-descripcion1{
        margin-bottom: 0;
        margin-top: 10px;
    }
    .item-left .col-sm-12{
            padding:0 10px !important;
    }.item-right .col-sm-12{
            padding:0 10px !important;
    }
    .gestores .col-lg-12{
        padding: 0;
    }
    .item-left .col-lg-12 .gestor-name, .item-left .col-lg-12 .gestor-description, .item-right .col-lg-12 .gestor-name, .item-right .col-lg-12 .gestor-description{
        padding: 0 10px;
    }
    .img-gestor{display: none;}
    .img-gestor-mobile{
        display: block
    }
    .gestores p{
        margin-bottom: 0;
    }
    .col-lg-12 .gestor-name {
        margin-top: 13px;}
    #conocenos-page > div.container > div.row.gestores.justify-content-sm-center > div:nth-child(3),
#conocenos-page > div.container > div.row.gestores.justify-content-sm-center > div:nth-child(4) {
    margin-top: 0px;
}
    .gestores {
    margin-top: 35px;
    margin-bottom: 100px;
}
  
    #conocenos-page .formulario h3 {
    padding: 30px 13% 0px 13%;
}
    #conocenos-page .pre-formulario {
    margin-top: 20px;
}
    #conocenos-page #title-black h1{
        padding-top: 35px;
        font-size: 20px
    }
    #conocenos-page #title-black h2
        font-size: 20px
    }
    
}

@media(min-width:320px) {
    #conocenos-page #title-black {
        display: block !important;
    }
    
}






