/* 
INDICE

1- Default
2- Nav

*/

/* ////////////////
///// DEFAULT /////
/////////////////*/

.gestor1,
.gestor3 {
    opacity: 0;
    transform: translate(-100px, 0px)
}

.gestor2,
.gestor4 {
    opacity: 0;
    transform: translate(100px, 0px)
}


/* FONTS */

@font-face {
    font-family: 'Rajdhani';
    src: url('../fonts/Rajdhani-Medium.woff2') format('woff2'),
    url('../fonts/Rajdhani-Medium.woff') format('woff'),
    url('../fonts/Rajdhani-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Rajdhani';
    src: url('../fonts/Rajdhani-SemiBold.woff2') format('woff2'),
    url('../fonts/Rajdhani-SemiBold.woff') format('woff'),
    url('../fonts/Rajdhani-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Rajdhani';
    src: url('../fonts/Rajdhani-Bold.woff2') format('woff2'),
    url('../fonts/Rajdhani-Bold.woff') format('woff'),
    url('../fonts/Rajdhani-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Rajdhani';
    src: url('../fonts/Rajdhani-Regular.woff2') format('woff2'),
    url('../fonts/Rajdhani-Regular.woff') format('woff'),
    url('../fonts/Rajdhani-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Myriad Pro';
    src: url('../fonts/MyriadPro-Regular.woff2') format('woff2'),
    url('../fonts/MyriadPro-Regular.woff') format('woff'),
    url('../fonts/MyriadPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.radj-sb-9 {
    font-family: 'Rajdhani';
    font-weight: 600;
    font-size: 9px;
}

.radj-sb-12 {
    font-family: 'Rajdhani';
    font-weight: 600;
    font-size: 12px;
}

.radj-sb-19 {
    font-family: 'Rajdhani';
    font-weight: 600;
    font-size: 19px;
}

.radj-sb-22 {
    font-family: 'Rajdhani';
    font-weight: 600;
    font-size: 22px;
}

.radj-sb-23 {
    font-family: 'Rajdhani';
    font-weight: 600;
    font-size: 23px;
}

.radj-b-10 {
    font-family: 'Rajdhani';
    font-weight: bold;
    font-size: 10px;
}

.radj-b-12 {
    font-family: 'Rajdhani';
    font-weight: bold;
    font-size: 12px;
}

.radj-b-14 {
    font-family: 'Rajdhani';
    font-weight: bold;
    font-size: 14px;
}

.radj-b-23 {
    font-family: 'Rajdhani';
    font-weight: bold;
    font-size: 23px;
}

.radj-b-30 {
    font-family: 'Rajdhani';
    font-weight: bold;
    font-size: 30px;
}

.radj-reg-9 {
    font-family: 'Rajdhani';
    font-weight: normal;
    font-size: 9px;
}

.radj-reg-11 {
    font-family: 'Rajdhani';
    font-weight: normal;
    font-size: 11px;
}

.radj-reg-10 {
    font-family: 'Rajdhani';
    font-weight: normal;
    font-size: 10px;
}

.radj-reg-12 {
    font-family: 'Rajdhani';
    font-weight: normal;
    font-size: 12px;
}

.radj-reg-14 {
    font-family: 'Rajdhani';
    font-weight: normal;
    font-size: 14px;
}

.radj-med-10 {
    font-family: 'Rajdhani';
    font-weight: 500;
    font-size: 10px;
}



/* PADDING / MARGIN */

.pad-0 {
    padding: 0;
}

.pad-left-53 {
    padding-left: 53px;
}

.mar-left-49 {
    margin-left: 49px;
}

.mar-left-62 {
    margin-left: 62px;
}

.mar-right-16 {
    margin-right: 16px;
}

.mar-right-17 {
    margin-right: 17px;
}

.mar-right-22 {
    margin-right: 22px;
}

.mar-right-44 {
    margin-right: 44px;
}

.mar-top-10 {
    margin-top: 10px;
}

.mar-top-17 {
    margin-top: 17px;
}

.mar-top-24 {
    margin-top: 24px;
}

.mar-top-32 {
    margin-top: 32px;
}

.mar-top-35 {
    margin-top: 35px;
}

.mar-top-44 {
    margin-top: 44px;
}

.mar-top-60 {
    margin-top: 60px;
}

.mar-top-63 {
    margin-top: 63px;
}

.mar-top-90 {
    margin-top: 90px;
}

.mar-top-95 {
    margin-top: 95px;
}

.mar-bot-5 {
    margin-bottom: 5px;
}

.mar-bot-52 {
    margin-bottom: 52px;
}

.row {
    margin-left: 0;
    margin-right: 0;
}


/* COLORS */

.grey {
    color: #808183;
}

.black {
    color: #000;
}

.white {
    color: #fff;
}

.green {
    color: #C5D12D;
}


/* BG-COLOR */

.bg-grey {
    background-color: #E8EAEB;
}

.bg-grey2 {
    background-color: #c3c3c4;
}

.bg-black {
    background-color: #000;
}

/* DEFAULT */

p.gracias1 {
    margin-top: 40px;
    margin-bottom: 0;
    text-align: center;
    font-family: 'Rajdhani';
    font-weight: bold;
    font-size: 23px;
}
p.gracias1 span{
    font-size: 31px;
}
p.gracias2 {
    margin-top: 0px;
    margin-bottom: 40px;
    text-align: center;
    font-family: 'Rajdhani';
    font-weight: normal;
    font-size: 19px;
        padding-top: 0px !important;
}

html {
    margin: 0;
    overflow: auto;
    padding: 0;
}

body {
    max-width: 100vW;
    overflow-x: hidden;
}

.ir-formulario {
    color: #fff !important;
    cursor: pointer;
}

a:hover {
    color: auto;
    text-decoration: none;
}

/* ACTIVES */

button:focus {
    outline: none;
}

.active-link {
    color: #00AEC8 !important;
}

/* DISPLAY */

span#arriba {
    position: absolute;
    top: 0;
}

.display {
    display: block !important;
}

.display-none {
    display: none !important;
}

.visible-xs {
    display: none !important;
}

.visible-md {
    display: none !important;
}

.visible-lg {
    display: block !important;
}

/* ////////////////
/////// POPUP ///////
/////////////////*/

#popup {
    background-color: rgba(0, 0, 0, .5);
    height: 100vh;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1001;
    position: fixed;

}

.content-popup {
    text-align: center;
    margin: 0px auto;
    margin-top: 120px;
    position: relative;
    padding: 10px;
    width: 500px;
    border-radius: 4px;
    background-color: #FFFFFF;
    box-shadow: 0 2px 5px #666666;
    padding-top: 27px;
    border: 1px solid #c3c3c4;
}


.popup-overlay {
    left: 0;
    top: 0;
    width: 100%;
    z-index: 999;
    display: none;
    background-color: #777777;
    cursor: pointer;
    opacity: 0.7;
}

.close {
    position: absolute;
    right: 15px;
}

.ir-arriba {
    display: none;
    padding: 20px;
    background: #8081839c;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    position: fixed;
    bottom: 6%;
    right: 14px;
    z-index: 10;
    border-radius: 4px;
}

.ir-arriba:before {
    content: url('../img/arrow-top.png');
    position: absolute;
    top: 5px;
    left: 13px;
}

/* ////////////////
/////// NAV ///////
/////////////////*/

.navbar-toggler {
    border: none;
    background: transparent !important;
}

.navbar-toggler:focus {
    outline: none;
    background: transparent !important;
}

.navbar-toggler .icon-bar {
    background-color: #00AEC8;
    transform: rotate(0deg) translate(0px, 0px);
    transition: ease all .2s;
}

.navbar-toggler .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
}

.navbar-toggler .icon-bar + .icon-bar {
    margin-top: 4px;
}

.icon-bar:nth-child(2) {
    width: 22px;
    transition: ease all .2s;
}

.navbar-toggler:hover > .icon-bar:nth-child(2) {
    width: 22px;
    transition: ease all .2s;
}

.navbar-toggler:active > .icon-bar:nth-child(2) {
    width: 22px;
    transition: ease all .2s;
}

.navbar-toggler:not(.collapsed) .icon-bar:nth-child(1) {
    transform: rotate(45deg) translate(5px, 4px);
    transition: ease all .2s;
}

.navbar-toggler:not(.collapsed) .icon-bar:nth-child(2) {
    opacity: 0;
    transition: ease all .2s;
}

.navbar-toggler:not(.collapsed) .icon-bar:nth-child(3) {
    transform: rotate(-45deg) translate(4px, -4px);
    transition: ease all .2s;
}

html {
    min-width: 100vw;
    overflow-x: hidden;
}

.container {
    padding: 0;
    min-width: 320px;
}

.container {
    max-width: 1200px;

}

.topbar {
    position: fixed;
    width: 100%;
    height: 7px;
    background-color: #DCDBDC;
    z-index: 4;
    top: 0;
}

#logo {
    width: 100%;
}

.subicon {
    margin-right: 9px;
    margin-bottom: 28px;
    margin-top: 2px;
    float: right;
}

.logo-responsive {
    display: none;
}

.phone a {
    color: #808183;
}

.phone a:hover {
    color: #808183;
}

.navbar-brand {
    margin-left: 9px;
    margin-right: 10px;
}

.breadcrumbs {
    font-family: 'Rajdhani';
    font-weight: bold;
    font-size: 17px;
    color: #F35B33;
}

.menu {
    width: 100vw;
    position: fixed;
    background-color: #fff;
    z-index: 2000;
    top: 7px;
    justify-content: center;
border-bottom: 2px solid #fff;

    /*
-webkit-box-shadow: 0px 1px 20px -6px rgba(0,0,0,0.55);
-moz-box-shadow: 0px 1px 20px -6px rgba(0,0,0,0.55);
box-shadow: 0px 1px 20px -6px rgba(0,0,0,0.55);
*/
}

a.arrow-down {
    margin: 0 auto;
}

.menu-scroll {
    /* transition: all .5s;*/
    border-bottom: 2px solid #fbfbfb;
    /*
    -webkit-box-shadow: 0px 1px 25px -8px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 1px 25px -8px rgba(0,0,0,0.75);
box-shadow: 0px 1px 25px -8px rgba(0,0,0,0.75);
*/
}
.menu-mobile{
    display: none;
}
.navbar {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    display: block;
    max-width: 1200px;
    position: static;
}

.navbar-toggler {
    padding: 0px 5px 5px 5px;
    margin-right: 25px;
    border: none;
}

.navbar-toggler:focus {
    outline: none;
}

.navbar-toggler img:hover {
    opacity: .7;
}

.navbar-light .navbar-toggler-icon {
    background-image: url("../img/menu_ico.png");

}

.navbar-toggler {
    margin-top: 24px;
    padding: 0;
}

.button-nav {
    border: 1px solid #A6A8AA;
    border-radius: 5px;
    padding: 2px 15px 2px 15px;
    margin-top: 22px;
    cursor: pointer;
    transition: all .5s;
}

.menu .button-nav {
    margin-top: 20px;
    font-size: 13px;
}

.button-nav:hover {
    background-color: #A6A8AA;
    color: #fff;
}


.navbar-collapse {
    transition: all .5s;
    width: 100%;

    min-width: 320px;
    position: absolute;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-align: center;
    top: 63px;
    left: 0;
}

.navbar-light .navbar-nav .active > .nav-link {
    color: #fff;
}

.navbar-light .navbar-nav .nav-link {
    color: #fff;
}

.menu-desplegado {
    padding: 40px 0px 50px 0px;
    color: #808183;
    margin: 25px auto;
    background-color: #f9f9f9;

}
.menu-desplegado-center{
    margin: 0 auto;
}
.menu-escritorio {
    margin: 0 auto;
    display: flex;
   
}
.menu-desplegado-center .col p{
     font-size: 17px;
    font-family: 'Rajdhani';
    font-weight: 500;
        margin-bottom: 0.7rem;
}

.menu-desplegado-center .col {
    border-right: 1px solid #e6e6e6;
        margin-right: 32px;
        min-width: 220px;
}

.menu-desplegado-center .col:nth-last-child(1){
    border-right: none;
     margin-right:0px;
    
}
/* ////////////////
//// SECTION 1 ////
/////////////////*/

#title-black {

    margin-top: 93px;
    height: 466px;
    background-image: url(../img/asesoria-online.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

#title-black-mobile {
    display: none;
}


#title-black h1,
#title-black h3,
#title-black p {
    margin: 0 auto;
    color: #fff;
    padding-top: 24px;
}



#title-black h2 {
    margin: 0 auto;
    color: #fff;
    font-weight: 600;
}

.title-black1 {
    margin: 0 auto;
    color: #fff;
    padding-top: 14px;
}

h2.radj-sb-23.tit-precio {
    margin-bottom: 0px;
    padding-bottom: 0px;
    padding-top: 60px;
    font-size: 15px;
}

.title-black {
    max-width: 400px;
    text-align: center;
}

#index-page .legal-precio {
    font-weight: 400;
    padding-top: 10px;
    font-size: 17px;
}

.col-sm-4.col-lg-3.img-section1 {
    padding: 0;
    margin-top: 6px;
    max-width: 26%;
    flex: 0 0 26%;
}



.form-check {
    margin-bottom: 0px !important;
    line-height: 12px;
    padding-top: 5px;
    position: relative;
    display: block;
    padding-left: 0px;
}

#form-section1 {
    max-width: 260px;
    margin-top: 20px;
}

#form-section1 textarea {
    resize: none;
    height: 47px;
}

#form-section1 .form-group:nth-child(3) {
    margin-bottom: 5px;
}

#form-section1 button {
    padding: 3px 0;
    font-size: 21px;
    width: 100%;
    background-color: #F35B33;
    border: solid 1px #F35B33;
    transition: all .5s;
    color: #fff;
    text-align: center;
    font-family: 'Rajdhani';
    font-weight: bold;

    transition: all .5s;

    margin-top: 10px;
}

#form-section1 button:hover {
    background-color: #fff;
    border: solid 1px #F35B33;
    transition: all .5s;
    color: #F35B33;
}

#form-section1 .form-check-input {}

#form-section1 .agree {
    font-family: 'Open Sans';
    color: #fff;
}

#form-section1 .agree a {
    text-decoration: none;
    color: #fff;
    font-weight: 700;
}

.cabecera-mobile #form-section1 .agree {
    font-family: 'Open Sans';
    color: #808183 !important;
}

.cabecera-mobile #form-section1 .agree a {
    text-decoration: none;
    color: #808183 !important;
}

.columncenter {
    padding: 0;
}

.arrow {
    padding-top: 98px;
    text-align: center;
}

.form-group {
    margin-bottom: 14px;
}

.tit-precio {
    letter-spacing: 1.9px;
}

.col-sm-2.col-lg-2.columncenter {
    max-width: 14%;
}

.precio {
    padding-top: 8px;
    float: left;
    width: 108px;
    height: 108px;
    border-radius: 5px;
}

.text-precio {
    color: #808183 !important;
    font-family: 'Rajdhani';
    font-weight: 500;
    font-size: 17px;
}

.num-precio {
    line-height: 49px;
    color: #F35B33 !important;
    font-family: 'Rajdhani';
    font-weight: 600;
    font-size: 64px;
}

.mes-precio {
    color: #808183 !important;
    font-family: 'Rajdhani';
    font-weight: 500;
    font-size: 25px;
    line-height: 0px;
}

.euro {
    line-height: 0px;
    color: #F35B33 !important;
    font-family: 'Rajdhani';
    font-weight: 600;
    font-size: 39px;
}

.datosprecio {
    margin-left: 10px;
    float: left;
    max-width: 200px;
    color: #fff;
}

.llama {
    display: block;
    font-family: 'Rajdhani';
    font-weight: 600;
    font-size: 22px;
    letter-spacing: 2px;
}

.gratis {
    display: block;
    font-family: 'Rajdhani';
    font-weight: bold;
    font-size: 40px;
    letter-spacing: 2px;
    line-height: 42px;
}

.datos-tlf {
    padding: 0 10px;
    line-height: 33px;
    display: block;
    font-family: 'Rajdhani';
    font-weight: bold;
    font-size: 28px;
    background-color: #fff;
    color: #F35B33;
    border-radius: 3px;
}

.legal-precio {
    font-family: 'Rajdhani';
    font-weight: 400;
    font-size: 14px;
    padding-top: 10px;
}

.legal-precio a {
    font-family: 'Rajdhani';
    font-weight: 600;
    font-size: 13px;
    text-decoration: none;
    color: #fff;
}

.cabecera-mobile {
    display: none;
}

.cabecera-mobile .tit-precio {
    font-size: 18px;
    color: #808183 !important;
}

.cabecera-mobile .text-precio,
.cabecera-mobile .num-precio,
.cabecera-mobile .euro,
.cabecera-mobile .mes-precio {
    color: #fff !important;
}

.cabecera-mobile .precio {}

.cabecera-mobile .datosprecio {
    color: #808183;
}

.cabecera-mobile .datos-tlf {
    background-color: #F35B33;
    color: #fff;
    display: block;
    text-align: center;
    line-height: 1em;
    padding: 3px;
    margin-top: 6px;
}

.cabecera-mobile .legal-precio a,
.cabecera-mobile .legal-precio {
    color: #808183;
}

.cabecera-mobile h3.radj-sb-23.tit-precio {
    display: inline;
    padding-bottom: 2px;
}


/* ////////////////
// PRESECTION 2 ///
/////////////////*/

.title-section2 {
    margin: 0 auto;
    padding: 15px 0 3px 0;
    text-align: center;
    width: 100%;
    color: #808183;

}

.subtitle-section2 {
    font-family: 'Rajdhani';
    font-weight: 600;
    font-size: 17px;
    text-align: center;
    margin: 0 auto;
    color: #808183;

}

.link-section2 {
    margin-top: 32px;
    font-family: 'Rajdhani';
    font-weight: 600;
    font-size: 17px;
    text-align: center;
    width: 100%;
    color: #808183;

}

.link-section2 a {
    color: #00AEC8;
}

.tabs-section2 {
    min-height: 96px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    margin-top: 40px;
    color: #808183;

}

.tabs-section2 .col a {
    font-family: 'Rajdhani';
    font-weight: 600;
    font-size: 17px;
    margin-bottom: 12px;
    color: #808183;
    transition: all .3s ease .1s;
}

.tabs-section2 .col a:hover {
    text-decoration: none;
    color: #00AEC8;
    transition: all .3s ease .1s;
}


.line-sections2 {
    background-color: #A6A8AA;
    height: 1px;
    width: 34px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.tabs-section2 .text-collapse {

    font-family: 'Rajdhani';
    font-weight: normal;
    font-size: 13px;

}

.tabs-section2 .col {
    opacity: 0;
}





/* ////////////////
//// MEDIOS ////
/////////////////*/

.medios {
    padding: 20px 0px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    margin-top: 100px;
    color: #808183;
    background-color: #E8EAEB;

}

.medios-mobile {
    display: none;
}

.col-text-medios {
    padding-top: 14px;
    min-width: 305px;
}

.text-medios {
    font-family: 'Rajdhani';
    font-weight: 600;
    font-size: 17px;
}

.text-medios span {
    color: #00AEC8;
}

.col.medios-img {
    padding-top: 10px;
}

.col.medios-img img {
    transition: all .5s;
}

.col.medios-img img:hover {
    transition: all .5s;
    opacity: .7;
}


/* ////////////////
//// PUBLI ////
/////////////////*/

.mascara-publi {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.mascara-publi a {
    width: 100%;
    height: 100%;
    z-index: 2;
    position: absolute;
}

.publi {
    position: relative;
    width: 100%;
    margin: 0 auto;
    color: #808183;
    margin-top: 80px;
    padding: 0 58px;
}

.row-title-publi {
    width: 100%;
    position: relative;
}

.title-publi,
.subtitle-publi {
    font-family: 'Rajdhani';
    font-weight: 600;
    font-size: 26px;
    width: 100%;
    margin-bottom: 0;
    text-align: center
}

.fa-caret-right {
    transition: all .4s ease;
    transform: scale(1.2);
    margin-left: 6px;
}

.fa-caret-left {
    transition: all .4s ease;
    transform: scale(1.2);
    margin-left: 6px;
}

.active-publi .fa-caret-right {
    transform: rotate(90deg);
}

.panel {
    margin-top: 20px;
    padding: 0 0 0 0;
    text-align: center;
}

.desplegable-publi {
    color: #808183;
    font-family: 'Rajdhani';
    font-weight: 600;
    font-size: 14px;
    transition: all .3s ease .1s;
    z-index: 3;
    position: relative;
    line-height: 0;
}

.desplegable-publi:hover {
    color: #808183;
    opacity: .7;
    text-decoration: none;
    transition: all .3s ease .1s;
}

.panel-body {
    margin-top: 19px;
    font-family: 'Rajdhani';
    font-weight: normal;
    font-size: 13px;
    text-align: justify;
}

.panel-body span {
    font-weight: 600;
}

.panel-body a {
    font-weight: 600;
    transition: all .7s;
}

.panel-body a:hover {
    color: #c5d12d99;
    transition: all .7s;
}

.boton-selfconta {
    margin: 0 auto;
    position: absolute;
    top: 83%;
    left: 2%;
}

.link-img-banner {
    width: 100%;
    position: relative;
}

.img-publi {
    width: 100%;
    margin-top: 20px;
}

.img-publi-mobile {
    display: none;
}


.btn-green {
    padding: 4px 7px;
    font-family: 'Rajdhani';
    font-weight: 600;
    font-size: 16px;
    background-color: #fff;
    color: #8EBE3C;
    transition: all .3s ease .1s;
    border-radius: 3px;
}

.btn-green-hover {
    color: #fff;
    background-color: #8EBE3C;
    text-decoration: none;
    transition: all .3s ease .1s;
}

.parrafo-publi {
    margin-top: -60px;
    z-index: 1;
    text-align: center;
    width: 100%;
    font-family: 'Rajdhani';
    font-weight: normal;
    font-size: 18px;
}

.row-title-publi p span {
    font-weight: bold;
}




/* ////////////////
////  VIDEO ////
/////////////////*/

.etiqueta-derecha {
    position: absolute;
    left: 89%;
    top: 60px;
    z-index: 1;
}

.etiqueta-izq {
    position: absolute;
    right: 89%;
    top: 60px;
    z-index: 1;
    transform: rotate(180deg);
}

.video {
    position: relative;
    width: 100%;
    margin: 0 auto;
    color: #808183;
    margin-top: 90px;
    padding: 0 58px;
}

.video h2 {
    line-height: 9px;
    width: 100%;
    text-align: center;
    color: #00B5C8;
    font-family: 'Rajdhani';
    font-weight: 600;
    font-size: 18px;
}

.video h3 {
    width: 100%;
    text-align: center;
    font-family: 'Rajdhani';
    font-weight: 600;
    font-size: 18px;
}

#tv {

    padding: 13px;
    background: #E8EAEB;
    border-bottom: 1px solid #E8EAEB;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 14px;
}

.tv-responsive {
    position: relative;
    height: 0;
    overflow: hidden;
    padding-bottom: 56.2%;
    margin-bottom: 20px;
}

.tv-responsive iframe {
    border: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/* ////////////////
////  WHY ////
/////////////////*/

.why {
    position: relative;
    width: 100%;
    margin: 0 auto;
    color: #808183;
    margin-top: 44px;
    margin-bottom: 44px;
    padding: 0 34px;
}

.why h2 {
    margin-bottom:0px;
    width: 100%;
    text-align: center;
    color: #00B5C8;
    font-family: 'Rajdhani';
    font-weight: 600;
    font-size: 20px;
}

.desplegable-why {
    color: #808183;
    line-height: 9px;
    width: 100%;
    text-align: center;
    font-family: 'Rajdhani';
    font-weight: bold;
    font-size: 12px;
    display: block;
    transition: all .3s ease .1s;
}

.desplegable-why:hover {
    color: #808183;
    opacity: .7;
    text-decoration: none;
    transition: all .3s ease .1s;
}

#collapseTwo .row {
    text-align: justify;
    -moz-text-align-last: center;
    text-align-last: center;
    width: 100%;
    margin: 0 auto;
    margin-top: 30px;
    font-family: 'Rajdhani';
    font-weight: normal;
    font-size: 12px;
}


.panel-why .subpanel-why {
    padding: 0 50px;
}

.panel-why .subpanel-why span {
    font-weight: 600;
}

.img-why {
    margin: 0 auto;
}

/* ////////////////
//// SERVICES ////
/////////////////*/

.services {
    position: relative;
    width: 100%;
    margin: 0 auto;
    color: #808183;
    margin-top: 100px;
    padding: 0 0px;
}

.services h2 {
    line-height: 30px;
    width: 100%;
    text-align: center;
    color: #F35B33;
    font-family: 'Rajdhani';
    font-weight: bold;
    font-size: 30px;
}

.services .subtitle-services {
    line-height: 21px;
    width: 100%;
    text-align: center;
    font-family: 'Rajdhani';
    font-weight: 600;
    font-size: 18px;
    padding: 0 40px;
    margin-bottom: 40px;
}

.texto-servicios {
    text-align: center;
    color: #808183;
    font-family: 'Rajdhani';
    font-weight: bold;
    font-size: 38px;
}

.titulo-servicios1,
.titulo-servicios2,
.titulo-servicios3,
.titulo-servicios4,
.titulo-servicios5,
.titulo-servicios6 {
    text-align: center;
    padding-bottom: 44px;
    margin: 0 auto;

}

.titulo-servicios1 a,
.titulo-servicios2 a,
.titulo-servicios3 a,
.titulo-servicios4 a,
.titulo-servicios5 a,
.titulo-servicios6 a {

    color: #808183;
    font-family: 'Rajdhani';
    font-weight: bold;
    font-size: 20px;
    width: 100%;
    transition: all .5s;
}

.titulo-servicios1 a:hover,
.titulo-servicios2 a:hover,
.titulo-servicios3 a:hover,
.titulo-servicios4 a:hover,
.titulo-servicios5 a:hover,
.titulo-servicios6 a:hover {
    color: #F35B33;
    transition: all .5s;
}

.titulo-servicios1 {
    background: url(../img/bg-services.jpg);
    width: 263px;
    background-repeat: no-repeat;
    background-position: center;
    height: 30px;
}

.titulo-servicios2 {
    background: url(../img/bg-services2.jpg);
    width: 154px;
    background-repeat: no-repeat;
    background-position: center;
    height: 30px;
}

.titulo-servicios3 {
    background: url(../img/bg-services3.jpg);
    width: 222px;
    background-repeat: no-repeat;
    background-position: center;
    height: 30px;
}

.titulo-servicios4 {
    background: url(../img/bg-services4.jpg);
    width: 256px;
    background-repeat: no-repeat;
    background-position: center;
    height: 30px;
}

.titulo-servicios5 {
    background: url(../img/bg-services5.jpg);
    width: 141px;
    background-repeat: no-repeat;
    background-position: center;
    height: 30px;
}

.titulo-servicios6 {
    background: url(../img/bg-services6.jpg);
    width: 300px;
    background-repeat: no-repeat;
    background-position: center;
    height: 30px;
}

p.texto-servicios2 {
    text-align: center;
    margin-top: 10px;
}

.slide p {
    color: #808183;
    font-family: 'Rajdhani';
    font-weight: normal;
    font-size: 16px;
}

.texto-servicios img {
    padding-right: 20px;
    padding-bottom: 5px;
}





/* ////////////////
//// CLIENTS ////
/////////////////*/

.clients {
    position: relative;
    width: 100%;
    margin: 0 auto;
    color: #808183;
    margin-top: 90px;
    margin-bottom: 44px;
    padding: 0 34px;
}

.clients .titulo-clientes {
    font-family: 'Rajdhani';
    font-weight: 600;
    font-size: 23px;
    color: #F35B33;
    text-align: center;
    width: 100%;
}

.opiniones {
    padding: 0 35px;
    margin-top: 110px;
}

.title-opiniones {
    font-family: 'Rajdhani';
    font-weight: 600;
    font-size: 14px;
    width: 100%;
    color: #fff;
    background-color: #F35B33;
    text-align: center;
    border-radius: 4px;
    padding: 4px 10px;
}

.carousel-inner {
    color: #808183;
    min-height: 200px;
}

.carousel-control-next,
.carousel-control-prev {
    top: -72px;
}

.flecha-opiniones-derecha,
.flecha-opiniones-izquierda {
    color: #808183;
}

.carousel-control-prev {
    left: -20px;
}

.carousel-control-next {
    right: -20px;
}

.comentario {
    padding: 0 10px;
    margin-bottom: 6px;
    line-height: 23px;
    font-family: 'Rajdhani';
    font-weight: normal;
    font-size: 18px;
    text-align: center;
}

.autor {
    padding: 0 10px;
    font-family: 'Rajdhani';
    font-weight: 600;
    font-size: 15px;
    text-align: center;
    line-height: 18px;
    margin-bottom: 0px;
    margin-top: 15px;
}

.empresa {
    padding: 0 10px;
    line-height: 18px;
    margin-bottom: 0px;
    font-family: 'Rajdhani';
    font-weight: normal;
    font-size: 13px;
    text-align: center;
}

.empresa span {

    font-weight: 600;
}

.url {
    padding: 0 10px;
    text-align: center;
    line-height: 12px;
    margin-bottom: 0px;
}

.url a {
    color: #F35B33 !important;
    font-family: 'Rajdhani';
    font-weight: 600;
    font-size: 13px;

}

#demo {
    margin-top: 20px;
}


.range-clientes {
    position: relative;
    margin-top: 54px;
    min-height: 350px;
}

.row.contenido-slide-clientes {
    margin-top: 59px;
}

#cuadro-range {
    position: absolute;
    top: 9px;
    left: 707px;
}

#bg-clientes {
    position: absolute;
}

.slider-clientes {
    margin-top: 14px;
    -webkit-appearance: none;
    width: 91%;
    border-bottom: 30px solid #ff9174;
    border-left: 0px solid transparent;
    border-right: 20px solid transparent;
    transform: rotate(180deg);
    border-radius: 0px 0;
    height: 0;
    outline: none;
    opacity: 1;
    -webkit-transition: .2s;
    transition: opacity .2s;
    background-color: transparent;
}

.slider-clientes:hover {}

.slider-clientes::-webkit-slider-thumb {
    -webkit-appearance: none;
    margin-top: 30px;
    appearance: none;
    width: 80px;
    height: 25px;
    cursor: pointer;
    opacity: 1;
    border-bottom: 30px solid #ffc9bb;
    border-left: 0px solid transparent;
    border-right: 20px solid transparent;
}

.slider-clientes::-moz-range-thumb {
    width: 25px;
    height: 25px;
    cursor: pointer;
    opacity: 1;
    border-bottom: 30px solid #ffc9bb;
    border-left: 0px solid transparent;
    border-right: 20px solid transparent;
}

.datos-range-clientes {
    float: right;
    color: #fff;
    padding: 0px;
    width: 75%;

}

.datos-range-clientes img {
    vertical-align: top;
    margin-top: 16px;
    margin-right: 16px;
}

.datos-range-clientes span {
    font-family: 'Rajdhani';
    font-weight: normal;
    font-size: 58px;
    color: #fff;
    padding-right: 10px;
    text-align: right;
}

.datos-clientes {
    padding-right: 0;
    margin-right: -26px;
    margin-left: 51px;
}

.divClientes {
    width: 199px;
}

.linea {
    background-color: #fff;
    width: 1px;
    height: 50px;
    margin-top: 15px;
}

.text1-range-clientes {
    margin-top: 20px;
    margin-bottom: 0;
    line-height: 12px;
    font-family: 'Rajdhani';
    font-weight: bold;
    font-size: 20px;
    padding-left: 10px;
}

.text2-range-clientes {
    font-family: 'Rajdhani';
    font-weight: normal;
    font-size: 20px;
    padding-left: 10px;
}

.text3-range-clientes {
    font-family: 'Rajdhani';
    font-weight: 600;
    font-size: 25px;
    margin-bottom: 7px;
}

.text-oculto-clientes {
    display: none;
    font-family: 'Rajdhani';
    font-weight: 600;
    font-size: 23px;
    color: #F35B33;
    text-align: center;
    width: 100%;
}

.button-range-clientes {
    font-family: 'Rajdhani';
    font-weight: 600;
    font-size: 17px;
    background-color: #fff;
    color: #F35B33;
    width: 53%;
    text-align: center;
    padding: 5px 0px;
    border-radius: 3px;
    cursor: pointer;
}

.button-range-clientes a {
    color: #F35B33 !important;
}


.foto-cliente {
    position: relative;
    margin-left: 6px;
}

.foto-cliente-item {
    position: absolute;
}

#foto1 {
    opacity: 1;
}

#foto2 {
    opacity: 1;
}

#foto3 {
    opacity: 1;
}

#foto4 {
    opacity: 1;
}

#foto5 {
    opacity: 1;
}

#foto6 {
    opacity: 1;
}

#foto7 {
    opacity: 1;
}

#foto8 {
    opacity: 1;
}

#foto9 {
    opacity: 1;
}

#foto10 {
    opacity: 1;
}

.range-clientes-mobile {
    display: none;
}

#cuadro-range-mobile {
    position: absolute;
    top: 8px;
    left: 215px;
    width: 13%;
}

#bg-clientes-mobile {
    width: 87%;
    position: absolute;
}

/* ////////////////
//// PREMIOS ////
/////////////////*/

.premios {

    width: 100%;
    color: #808183;
    margin-top: 90px;
    padding: 0 34px;
}

.premios .titulo-escritorio {
    font-family: 'Rajdhani';
    font-weight: 600;
    font-size: 23px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 40px;
     background: url(../img/bg-premios.jpg);
    width: 528px;
    background-repeat: no-repeat;
    background-position: center;
    height: 60px;
        padding-top: 13px;
}

.premios .titulo-mobile {
    display:none;
        font-family: 'Rajdhani';
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 40px;
     background: url(../img/bg-premios-mobile.jpg);
    width: 212px;
    background-repeat: no-repeat;
    background-position: center;
    height: 68px;
        padding-top: 10px;
}

.premios .titulo-mobile span, .premios .titulo-escritorio span{
    font-weight: bold;
}

.slick-prev,
.slick-next {
    font-size: 0px;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 20px;
    height: 20px;
    padding: 0;
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
    z-index: 3;
}

.slick-next:before {
    color: #fff;
    content: url(../img/arrow-next.jpg);
}

.slick-prev:before {
    content: url(../img/arrow-pre.jpg);
}

button.slick-next.slick-arrow {
    right: 0;
}

.pre-formulario h2 {
    width: 100%;
}

/* ////////////////
//// FORMULARIO ////
/////////////////*/

.formulario {
    background-color: rgba(0, 181, 200, 0.5);
    width: 100%;
    color: #FFF;
    margin-top: 140px;

}

.formulario .tit-formulario {
    text-align: center;
    font-family: 'Rajdhani';
    font-weight: bold;
    font-size: 18px;
    width: 100%;
    margin-bottom: 1px;
    margin-top: 40px;
}

.formulario h3 {
    text-align: center;
    font-family: 'Rajdhani';
    font-weight: normal;
    font-size: 18px;
    width: 100%;
}

#form-section2 {
    margin: 0 auto;
    margin-top: 16px;
    margin-bottom: 26px;
    max-width: 260px;

}

#form-section2 .form-group:nth-child(3) {
    margin-bottom: 5px;
}

#form-section2 textarea {
    resize: none;
    height: 47px;
}

#form-section2 button {
    padding: 3px 0;
    font-size: 21px;
    width: 100%;
    background-color: #fff;
    text-align: center;
    font-family: 'Rajdhani';
    font-weight: bold;
    margin-top: 10px;

    border: 1px solid #fff;
    transition: all .5s;
    color: #00B5C8;
}

#form-section2 button:hover {
    background-color: #50ceda;
    border: 1px solid #fff;
    color: #fff;
    transition: all .5s;
}

#form-section2 .form-check-input {}

#form-section2 .agree {
    font-family: 'Open Sans';
    color: #fff;
}

#form-section2 .agree a {
    font-family: 'Open Sans';
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    opacity: 1;
    transition: all .5s;
}

#form-section2 .agree a:hover {
    opacity: .7;
    transition: all .5s;
}

#form-section3 {
    margin: 0 auto;
    margin-top: 16px;
    margin-bottom: 26px;
    max-width: 260px;

}

#form-section3 .form-group:nth-child(3) {
    margin-bottom: 5px;
}

#form-section3 textarea {
    resize: none;
    height: 47px;
}

#form-section3 button {
    padding: 3px 0;
    font-size: 21px;
    width: 100%;
    background-color: #fff;
    text-align: center;
    font-family: 'Rajdhani';
    font-weight: bold;
    margin-top: 10px;

    border: 1px solid rgb(243, 91, 51);
    transition: all .5s;
    color: rgb(243, 91, 51);
}

#form-section3 button:hover {
    background-color: rgb(243, 91, 51);
    border: 1px solid #fff;
    color: #fff;
    transition: all .5s;
}

#form-section3 .form-check-input {}

#form-section3 .agree {
    font-family: 'Open Sans';
    color: #fff;
}

#form-section3 .agree a {
    text-decoration: none;
    color: #fff;
}

#form-section4 {
    margin: 0 auto;
    margin-top: 16px;
    margin-bottom: 26px;
    max-width: 260px;

}

#form-section4 .form-group:nth-child(3) {
    margin-bottom: 5px;
}

#form-section4 textarea {
    resize: none;
    height: 47px;
}

#form-section4 button {
    padding: 3px 0;
    font-size: 21px;
    width: 100%;
    background-color: #fff;
    text-align: center;
    font-family: 'Rajdhani';
    font-weight: bold;
    margin-top: 10px;

    border: 1px solid #fff;
    transition: all .5s;
    color: #00B5C8;
}

#form-section4 button:hover {
    background-color: #50ceda;
    border: 1px solid #fff;
    color: #fff;
    transition: all .5s;
}

#form-section4 .form-check-input {}

#form-section4 .agree {
    font-family: 'Open Sans';
    color: #fff;
}

#form-section4 .agree a {
    text-decoration: none;
    color: #fff;
}


/* ////////////////
//// EMPRESAS ////
/////////////////*/

.empresas {

    width: 100%;
    color: #808183;
    margin: 60px 0;
    padding: 0 34px;
}



.item-empresas {
    margin: 0 15px;
    width: 20px;
    height: 28px;
}

.item-empresas1 {
    background: url(../img/icos-empresas/Pymes-g.png) no-repeat;
    -webkit-transition: background 100ms;
    /* property duration timing-function delay */
    -moz-transition: background 100ms;
    -o-transition: background 100ms;
    transition: background 100ms;
}

.item-empresas2 {
    background: url(../img/icos-empresas/Legal-g.png) no-repeat;
    -webkit-transition: background 100ms;
    /* property duration timing-function delay */
    -moz-transition: background 100ms;
    -o-transition: background 100ms;
    transition: background 100ms;
}

.item-empresas3 {
    background: url(../img/icos-empresas/Despachos-g.png) no-repeat;
    -webkit-transition: background 100ms;
    /* property duration timing-function delay */
    -moz-transition: background 100ms;
    -o-transition: background 100ms;
    transition: background 100ms;
}

.item-empresas4 {
    background: url(../img/icos-empresas/Learning-g.png) no-repeat;
    -webkit-transition: background 100ms;
    /* property duration timing-function delay */
    -moz-transition: background 100ms;
    -o-transition: background 100ms;
    transition: background 100ms;
}

.item-empresas5 {
    background: url(../img/icos-empresas/Selfconta-g.png) no-repeat;
    -webkit-transition: background 100ms;
    /* property duration timing-function delay */
    -moz-transition: background 100ms;
    -o-transition: background 100ms;
    transition: background 100ms;
}

.item-empresas6 {
    background: url(../img/icos-empresas/Liquidoo-g.png) no-repeat;
    -webkit-transition: background 100ms;
    /* property duration timing-function delay */
    -moz-transition: background 100ms;
    -o-transition: background 100ms;
    transition: background 100ms;
}

.item-empresas7 {
    background: url(../img/icos-empresas/Bidoq-g.png) no-repeat;
    -webkit-transition: background 100ms;
    /* property duration timing-function delay */
    -moz-transition: background 100ms;
    -o-transition: background 100ms;
    transition: background 100ms;
}

.item-empresas8 {
    background: url(../img/icos-empresas/Alma-g.png) no-repeat;
    -webkit-transition: background 100ms;
    /* property duration timing-function delay */
    -moz-transition: background 100ms;
    -o-transition: background 100ms;
    transition: background 100ms;
}


.item-empresas1:hover {

    background: url(../img/icos-empresas/Pymes.png) no-repeat;
    -webkit-transition: background 100ms;
    /* property duration timing-function delay */
    -moz-transition: background 100ms;
    -o-transition: background 100ms;
    transition: background 100ms;
}

.item-empresas2:hover {

    background: url(../img/icos-empresas/Legal.png) no-repeat;
    -webkit-transition: background 100ms;
    /* property duration timing-function delay */
    -moz-transition: background 100ms;
    -o-transition: background 100ms;
    transition: background 100ms;
}

.item-empresas3:hover {

    background: url(../img/icos-empresas/Despachos.png) no-repeat;
    -webkit-transition: background 100ms;
    /* property duration timing-function delay */
    -moz-transition: background 100ms;
    -o-transition: background 100ms;
    transition: background 100ms;
}

.item-empresas4:hover {

    background: url(../img/icos-empresas/Learning.png) no-repeat;
    -webkit-transition: background 100ms;
    /* property duration timing-function delay */
    -moz-transition: background 100ms;
    -o-transition: background 100ms;
    transition: background 100ms;
}

.item-empresas5:hover {

    background: url(../img/icos-empresas/Selfconta.png) no-repeat;
    -webkit-transition: background 100ms;
    /* property duration timing-function delay */
    -moz-transition: background 100ms;
    -o-transition: background 100ms;
    transition: background 100ms;
}

.item-empresas6:hover {

    background: url(../img/icos-empresas/Liquidoo.png) no-repeat;
    -webkit-transition: background 100ms;
    /* property duration timing-function delay */
    -moz-transition: background 100ms;
    -o-transition: background 100ms;
    transition: background 100ms;
}

.item-empresas7:hover {

    background: url(../img/icos-empresas/Bidoq.png) no-repeat;
    -webkit-transition: background 100ms;
    /* property duration timing-function delay */
    -moz-transition: background 100ms;
    -o-transition: background 100ms;
    transition: background 100ms;
}

.item-empresas8:hover {

    background: url(../img/icos-empresas/Alma.png) no-repeat;
    -webkit-transition: background 100ms/* property duration timing-function delay */
    -moz-transition: background 100ms;
    -o-transition: background 100ms;
    transition: background 100ms;
}



/* ////////////////
//// SECTION 2 ////
/////////////////*/

#img-section2 {
    text-align: center;
}

#img-section2 img {}

.text-section2 {
    line-height: 1.3;
    max-width: 390px;
    margin-bottom: 20px;
}

.button-section2 {
    line-height: 1.2;
    background-color: #000;
    border-color: #000;
    transition: all .5s;
}

.button-section2:hover {
    background-color: #fff;
    border-color: #000;
    color: #000;
    transition: all .5s;
}



/* ////////////////
//// SECTION 4 ////
/////////////////*/

.align-right {
    text-align: right;
}

/* ////////////////
//// FOOTER ////
/////////////////*/

footer {
    padding-top: 30px;
    color: #808183;
    max-width: 1000px;
    margin: 0 auto;
    border-top: 1px solid #c5c6c7;
}

.row.footer {
    margin: 25px 0px;
}

.web-map {
    padding: 0px;
    float: left;
}


.web-map a {
    font-size: 14px;
    font-family: 'Rajdhani';
    font-weight: normal;
    display: block;
    color: #808183;
    transition: all .5s;
}

.web-map a:hover {
    opacity: .5;
    transition: all .5s;
}

.footer .col-sm-4.col-lg-4 {
    padding: 0;
}

.contact {
    padding: 0px;
    float: left;
    padding-left: 20px;
}

.contact a {
    font-size: 14px;
    font-family: 'Rajdhani';
    font-weight: 600;
    display: block;
    color: #808183;
    transition: all .5s;
}

.contact a:hover {
    opacity: .5;
    transition: all .5s;
}

.contact .button-nav {
    margin-top: 6px;
    float: left !important;
}

.contact-img {
    padding: 0px;
    float: left;
    padding-left: 30px;
}

.contact-img a {
    font-size: 14px;
    font-family: 'Rajdhani';
    font-weight: 600;
    color: #808183;
}

.contact-img p {
    margin-bottom: 10px;
    font-size: 14px;
    font-family: 'Rajdhani';
    font-weight: normal;
    display: block;
    color: #808183;
}

.social {
    margin-bottom: 40px;
}

.social img {
    padding: 0 8px;
    transition: all .5s;
}

.social img:hover {
    transition: all .5s;
    opacity: .7;
}

.social img:nth-child(1) {
    padding-left: 0;
}

.social img:nth-child(5) {
    padding-right: 0;
}

.footer-phone {
    padding: 0;
    text-align: right;
}

.footer-phone-num {
    margin-bottom: 0;
    font-size: 20px;
    font-family: 'Rajdhani';
    font-weight: 600;
}

.footer-phone-txt {
    font-size: 12px;
    font-family: 'Rajdhani';
    font-weight: 600;
}

.footer-phone-num2 {
    margin-bottom: 0;
    font-size: 20px;
    font-family: 'Rajdhani';
    font-weight: 600;
    line-height: 20px;
}

.footer-phone-txt2 {
    font-size: 12px;
    font-family: 'Rajdhani';
    font-weight: 600;
    margin-bottom: 8px;
    margin-top: 30px;
}

.footer-phone-txt3 {
    font-size: 13px;
    font-family: 'Rajdhani';
    font-weight: 600;
    margin-bottom: 8px;
}

.legal {
    margin-top: 90px;
}

.legal p {
    font-size: 14px;
    font-family: 'Rajdhani';
    font-weight: normal;
    width: 100%;
    text-align: center;


}

.text-legal1 {
    margin-top: 15px;
    margin-bottom: 0;
}

.condiciones-legal {
    margin-bottom: 100px;
    font-size: 12px !important;
}

.legal a {
    color: #808183;
    font-weight: 500;
    transition: all .5s;
}

.legal a:hover {
    opacity: .5;
    transition: all .5s;
}

.iva {
    font-size: 13px;
    font-family: 'Rajdhani';
    font-weight: normal;
    margin-top: 20px;
}

/* ////////////////
//// MEDIA QUERY ////
/////////////////*/


@media(min-width:1800px) {
    .menu-desplegado-center {
    padding-left: 140px;
}
}




@media(min-width:1216px) {
    .navbar {
        left: 0px;
    }

}

@media(max-width:1500px) {
    .menu-desplegado-center{
        width: 100%;
    }
}
@media(max-width:1400px) {
    .menu-desplegado-center .col{
        margin-right: 17px;
        min-width: 175px;
    }
}




@media(max-width:1085px) {
    .div-blanco {
        display: none;
    }
    #title-black h3 {
        font-size: 18px;
    }
    .datos-tlf {
        display: inline;
        font-size: 17px;
    }
    .legal-precio,
    .legal-precio a {
        font-size: 12px;
    }
    .text1-range-clientes {
        margin-top: 0;
    }
    .text2-range-clientes {
        margin-bottom: 0;
    }
    .text3-range-clientes {
        font-size: 21px;
    }
    .comentario {
        font-size: 15px;
    }
    .datos-clientes {
        margin-right: -96px;
        margin-left: 121px;
    }

    .col-sm-4.col-lg-3.img-section1 {
        max-width: 30%;
        flex: 0 0 30%;
    }


    footer {
        padding: 0 3%;
        padding-top: 30px;
    }
    .etiqueta-derecha,
    .etiqueta-izq {
        display: none;
    }
}


@media(max-width:990px) {
    .visible-md {
        display: block
    }
    .visible-lg {
        display: none !important;
    }
    .foto-cliente {
        display: none;
    }

    .text1-range-clientes {
        margin-top: 20px;
    }
    .clients {
        justify-content: center;
    }
    .clients .titulo-clientes {
        display: none;
    }
    .text-oculto-clientes {
        display: block;
    }
    .empresas {
        justify-content: center;
    }
    .bloque2-section1 h2 {
        font-size: 30px;
    }
    p.texto-servicios2 {
        margin-bottom: 30px;
    }
    .clients {
        margin-top: 70px;
    }
    .opiniones {
        margin-top: 0px;
    }
    .breadcrumbs {
        display: none;
    }
    
}

@media(max-width:980px) {
    .boton-selfconta {
        top: 78%;
    }
    .menu-desplegado-center .col{
        padding: 20px 50px;
    margin-right: 30px;
    min-width: 220px;
    }
    .menu-escritorio{
        padding: 20px 0 30px 0;
         flex-wrap: wrap;
    }
    .menu-desplegado-center .col:nth-child(3){
        border:none;
    }
}


@media(max-width:920px) {
    #index-page #title-black {
        display: none;
    }
    .title-black1 {
        padding-top: 35px;
    }
    #title-black-mobile {
        display: block;
        margin-top: 79px;
        height: 195px;
        background-image: url(../img/asesoria-online-tablet.jpg);
        background-repeat: no-repeat;
        background-position: center;
        padding-top: 10px;
    }
    .cabecera-mobile {
        padding: 0 3%;
        display: flex;
        margin-top: 10px;
        margin-bottom: 40px;
    }

    #title-black-mobile h1,
    #title-black-mobile h3,
    #title-black-mobile p {
        margin: 0 auto;
        color: #fff;
        padding-top: 34px;
    }
    #title-black-mobile h2 {
        color: #fff;
        margin: 0 auto;
        text-align: center;
    }
    .etiqueta-derecha,
    .etiqueta-izq {
        top: 1570px;
    }
    .medios {
        display: none;
    }
    .medios-mobile {
        display: block;
        padding: 20px 0px;
        width: 100%;
        margin: 0 auto;
        text-align: center;
        margin-top: 100px;
        color: #808183;
        background-color: #E8EAEB;
    }


    .parrafo-publi {
        margin-top: 40px;
    }
    .video {
        margin-top: 74px;
    }
    .clients {
        margin-top: 80px;
    }
    .range-clientes {
        margin-top: 0;
    }
    .datos-clientes {
        margin-left: 51px;
    }
    .contact .button-nav {
        padding: 2px 10px 2px 10px;
        font-size: 10px;
    }
    .contact-img {
        padding-left: 0px;
        margin-top: 25px;
    }
    .footer-phone {
        margin-top: 25px;
    }

    .columncenter {
        display: none;
    }


    #form-section1-mobile input#phone,
    #form-section1-mobile input#email {
        display: inline;
        width: 100%;
        float: right;
        margin-bottom: 15px;
    }
    #form-section1-mobile input#phone {
        float: left;
        margin-bottom: 15px;
    }
    #form-section1-mobile .form-group {
        display: inline;
    }

    #form-section1-mobile textarea {
        resize: none;
        height: 47px;
    }

    #form-section1-mobile button {
        padding: 3px 0;
        font-size: 21px;
        width: 100%;
        background-color: #F35B33;
        text-align: center;
        font-family: 'Rajdhani';
        font-weight: bold;
        border: 1px solid #F35B33;
        transition: all .5s;
        color: #fff;
        margin-top: 15px;
    }

    #form-section1-mobile button:hover {
        background-color: #fff;
        border-color: #F35B33;
        color: #F35B33;
        transition: all .5s;
    }

    #form-section1-mobile .form-check-input {}

    #form-section1-mobile .agree {
        font-family: 'Open Sans';
        color: #808183;
    }

    #form-section1-mobile .agree a {
        text-decoration: none;
        color: #808183;
    }

    #form-section1-mobile .form-check {
        display: block;
    }
    .arrow {
        padding-top: 58px;
    }

}

@media(max-width:800px) {
    .row.tabs-section2 .col {
        padding: 0 61px;
        margin-top: 20px;
    }

    .tabs-section2 {
        margin-top: 50px;
    }
    .etiqueta-derecha,
    .etiqueta-izq {
        top: 1970px;
    }
    .etiqueta-derecha {
        left: 91%;
    }
}

@media(max-width:767px) {
    a.my-close-button {
    float: left;
    margin-top: 14px;
}
    .titulo-escritorio{
        display: none
    }
    .titulo-mobile{
        display: block !important;
    }
    
    .contenido-link a:nth-child(1){
        padding-top: 10px;
    }
    .contenido-link a:nth-last-child(1){
        padding-bottom: 10px;
    }
    
    .link-menu-collapse{
        font-size: 17px !important;
    font-family: 'Rajdhani' !important;
    font-weight: 500 !important;
    }
    .menu-desplegado-center .col{
        border: none;
    }
    .menu-mobile .fa-caret-down{
        float: right;
    }
    
    .menu-desplegado-center .col{
           padding: 0px 50px;
    }
    .menu-escritorio{
    display:none;
}
    .menu-mobile{
        display: block;
    }
    
    .cabecera .img-section1{
        margin-top: 0 !important;
    }
    .visible-md {
        display: none
    }
    .ir-arriba {
        display: none !important;
    }
    .panel-body {
        padding: 0;
    }
    .panel {
        text-align: left;
    }
    .link-img-banner {
        margin-top: 20px;
    }
    .row.publi {
        padding: 0 20px;
        margin-top: 30px;
    }
    .img-publi {
        display: none;
    }
    .img-publi-mobile {
        width: 100%;
        display: block;
    }
    .boton-selfconta {
        display: none;
    }
    h2.radj-sb-23.tit-precio {
        padding-top: 0px;
    }
    .menu-desplegado-center .contact a {
        font-size: 16px;
        margin-top: 7px;
    }
    .web-map a {
        font-size: 16px;
        margin-top: 7px;
    }
    .navbar-collapse {
        overflow-y: scroll;
        width: 100%;
        height: 90vh;
        z-index: 200;
    }

    .menu .button-nav {
        margin-top: 15px;
        font-size: 13px;
    }

    .visible-xs {
        display: block !important;
    }

    #carousel-inner-detalles {
        min-height: 240px;
    }
    .contenido-carousel {
        text-align: center;
    }

    .contenido-carousel img {
        margin-bottom: 10px;
        float: none;
        padding: 0;
    }

    .detalles .texto-detalles {
        padding-left: 15px;
    }
    .cabecera-mobile {
        padding: 0px 1%;
    }

    .navbar-toggler {
        margin-right: 15px;
        margin-top: 17px;
    }

    .navbar-brand {
        margin-left: 27px;
    }
    .footer-section-2 {
        padding-left: 0;
        margin-top: 35px;
    }
    .align-left-r {
        text-align: left;
    }
    .footer-section-2 {
        padding-left: 0;
        margin-top: 35px;
    }
    .info-footer {
        margin-top: 0px;
    }
    .footer {
        max-width: 100%;
    }
    .legal {
        max-width: 100%;
    }
    .legal img {
        margin: 0 auto;
    }
}

@media(max-width:649px) {
    .mar-0 {
        margin: 0;
    }
    .mar-right-27 {
        margin-right: 27px;
    }
}



@media(max-width:427px) {

    .mar-right-15-r {
        margin-right: 15px;
    }
    .mar-left-15-r {
        margin-left: 15px;
    }
    .mar-top-35-r {
        margin-top: 35px;
    }

    .w-65 {
        width: 65%;
    }
}

/*
@media(max-width:400px) {
    #title-black > p {
        font-size: 24px;
    }
    .legal p.radj-reg-14.grey {
        width: 177px;
    }
    #img-section2 img {
        width: 100%;
    }
    .button-nav {
        cursor: pointer;
        padding: 1px 7px 1px 7px;
        margin-top: 30px;
    }
    .navbar {
        margin-bottom: 14px;
    }

    .navbar-toggler {
        margin-top: 26px;
    }
    #title-black p {
        padding: 12px 15px 0 15px;
    }
}
*/

@media(max-width:780px) {
    .col-sm-5.col-lg-3.img-section1 {
        flex: 0 0 50.666667%;
        max-width: 43.666667%;
    }
    #form-section1-mobile input#phone {
        margin-right: 7px;
    }
}

@media(max-width:710px) {
    .col-sm-2.col-lg-2.columncenter {
        max-width: 9%;
    }
    .col-sm-5.col-lg-3.img-section1 {
        flex: 0 0 50.666667%;
        max-width: 44.666667%;
    }

}

@media(max-width:699px) {
    .col-sm-5.col-lg-3.img-section1 {
        flex: 0 0 50.666667%;
        max-width: 50.666667%;
    }
    .col-sm-2.col-lg-2.columncenter {
        display: none;
    }

}

@media(max-width:650px) {
    .navbar-brand {
        margin-left: 10px;
    }

    #title-black-mobile {
        margin-top: 59px;
    }
    .opiniones {
        margin-top: 140px;
    }
    .legal-precio {
        display: inline;
        margin-bottom: 20px;
    }

    .medios-mobile {
        margin-top: 70px;
    }
    .menu {
        height: 72px;
    }

    #cuadro-range-mobile {
        left: 435px;
    }

    .col-sm-5.col-lg-3.img-section1 {
        -ms-flex: 1 0 41.666667%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .navbar {
        left: 0px;
    }
    .navbar-brand {

        display: inline;
    }
    #logo {
        margin-top: 16px;
        width: 127px;
    }
    .subicon {
        display: none;
    }
    .menu .phone {
        display: none;
    }

    .button-nav {
        margin-top: 18px;
    }



    #title-black-mobile h1,
    #title-black-mobile h3,
    #title-black-mobile p {
        font-size: 26px;
        font-weight: 600;
    }
    .tit-precio {
        text-align: left;
    }
    .precio {
        padding-left: 0px;
    }
    .cabecera-mobile .text-precio,
    .cabecera-mobile .num-precio,
    .cabecera-mobile .euro,
    .cabecera-mobile .mes-precio {
        text-align: left;
    }
    .cabecera-mobile .text-precio,
    .cabecera-mobile .mes-precio {
        display: block;
        margin-left: 14px;
    }
    .cabecera-mobile .mes-precio {
        margin-top: 10px;
    }
    .cabecera-mobile .gratis {
        text-align: left;
        font-size: 34px;
    }
    .cabecera-mobile .llama {
        font-size: 20px;
    }
    .columncenter {
        display: none;
    }

    #form-section1-mobile input#phone {
        margin-right: 7px;
        margin-bottom: 15px;
    }
    #form-section1-mobile input#phone,
    #form-section1-mobile input#email {
        display: inline;
        width: 100%;
    }
    .title-section2 {
        width: 80%;
        margin-bottom: 10px;
    }
    .subtitle-section2 {
        width: 80%;
    }

    .link-section2 {
        margin: 0 auto;
        width: 50%;
        margin-top: 32px;
    }
    .text-collapse {
        display: none;
    }
    .col.medios-img {
        display: block;
        min-width: 100%;
        margin-bottom: 20px;
    }
    .etiqueta-derecha,
    .etiqueta-izq {
        display: none;
    }

    .panel {
        padding: 0 20px 0 17px;
    }
    .img-selfconta {
        margin-top: 20px;
    }
    .video {
        padding: 0 30px 0 30px;
    }
    .video h2 {
        line-height: 20px;
        font-size: 17px;
    }
    #tv {
        padding: 9px;
    }
    .tv-responsive {
        margin-bottom: 0;
    }

    .panel-why .subpanel-why {
        min-width: 100%;
        padding: 0px;
    }

    .col-services:nth-child(1) {
        text-align: center;
    }
    .col-services {
        padding: 0;
    }


    .col.panel-services {
        display: block;
        width: 100%;
        flex-basis: inherit;
        padding: 0;
    }
    .desplegable-services {
        text-align: left;
    }
    .flecha {
        display: none !important;
    }
    .flecha-mobile {
        display: inline-block !important;
        color: #808183;
        font-size: 13px;
        padding-left: 3px;
    }
    .range-clientes-mobile {
        display: block;
    }
    .range-clientes {
        display: none;
    }
    .text-oculto-clientes {
        margin-top: 40px;
    }
    section.customer-logos.slider.slick-initialized.slick-slider {
        max-width: 300px;
        margin: 0 auto;
    }
    .premios {
        padding: 0;
        justify-content: center;
        margin-top: 70px;
    }
    .premios p {
        font-size: 16px;
        width: 63%;
    }

    .empresas a {
        padding: 10px 5px;
    }

    footer > div.row.footer > div.col-sm-12.col-lg-7 {
        display: none;
    }
    footer > div.row.footer > div.col-sm-6.col-lg-3 > div > p {
        display: none;
    }
    footer {
        padding: 0px 14%;
        padding-top: 40px;
    }
    .row.footer {
        margin: 0;
    }
    .social {
        margin: 0 auto;
        text-align: center;
        margin-top: 15px;
        margin-bottom: 30px;
    }
    .contact-img {
        margin-top: 0px;
        text-align: center;
    }
    div.row.footer > div.col-sm-6.col-lg-3 > div > img {
        display: none;
    }
    .footer-phone-num a {
        text-align: center;
        display: block;
    }
    .footer-phone-txt {
        text-align: center;
    }
    .footer-phone-txt2 {
        text-align: center;
        margin-top: 20px;
        margin-bottom: 0px;
    }
    .footer-phone-txt3 {
        text-align: center;
    }
    .footer-phone-num2 {
        text-align: center;
    }
    .logo-footer {
        text-align: center
    }
    .legal {
        margin-top: 25px;
    }
    .menu-desplegado {
        margin: 0px 0px;
    }
    .contact {
        padding-left: 0;
    }
    .menu-desplegado .col-sm-6.col-lg-6.justify-content-md-center {
        margin: 0 auto;
        padding-left: 30px;
    }
    .col-sm-6.col-lg-6.justify-content-md-center a {
        margin-top: 5px;
    }

    .content-popup {
        max-width: 320px;
    }
    .block-text-sec3 {
        max-width: 100%;
    }
    .img-section1 {
        width: auto;
        margin: auto;
        margin-bottom: 20px;
    }
    .form-group-r {
        display: inline-block;
        width: 48%;
        margin-bottom: 10px;
        float: right;
    }
    .form-group-l {
        margin-bottom: 10px;
        display: inline-block;
        width: 48%;
        float: left;
    }
    .mar-top-44-r {
        margin-top: 44px;
    }
    .br {
        display: inline;
    }
    .title-section3 {
        font-size: 20px;
    }
    .form-check {
        margin-bottom: 30px;
    }
    .col-sm-12.col-lg-7.datos-clientes {
        margin-top: 50px;
        margin-left: 14px;
    }
    .clients {
        margin-top: 0px;
    }
    .formulario {
        margin-top: 70px;
    }
    .parrafo-publi {
        padding: 0 20px;
    }

}

@media(max-width:575px) {
    #title-black-mobile {
        background-image: url(../img/asesoria-online-mobile.jpg);
        height: 223px;
        background-position: top;
        background-size: contain;
    }

    #title-black-mobile {
        margin-top: 79px;
    }

    #title-black-mobile .title-black1 {
        padding-top: 37px;
    }
    .bloque2-section1 h2 {
        text-align: center;
    }
    #form-section1 {
        margin: 0 auto;
    }
    .iva {
        text-align: center;
    }
}

@media (max-width: 500px) {
    #cuadro-range-mobile {
        left: 345px;
    }
    .col-sm-12.col-lg-7.datos-clientes {
        margin-top: 50px;
        margin-left: -26px;
    }
}

@media(max-width:450px) {
    .datos-range-clientes {
        width: 75%;
    }
    .datos-range-clientes img {
        width: 26%;
        margin-top: 8px;
        margin-right: 8px;
    }


    .datos-clientes {
        margin-left: 0;
    }

    .datos-range-clientes span {
        font-size: 32px;
    }

    .divClientes {
        margin-top: 20px;
        width: 115px;
    }
    .linea {
        height: 31px;
        margin-top: 25px;
    }
    .text1-range-clientes {
        font-size: 14px;
        margin-top: 29px;
    }
    .text2-range-clientes {
        font-size: 12px;
    }
    .button-range-clientes {
        font-size: 14px;
        width: 56%;
        float: right;
        margin-right: 53px;
    }
    .datos-clientes {
        padding: 0;
    }
    .col-sm-12.col-lg-7.datos-clientes {
        margin-top: 20px;
        margin-left: -12px;
    }
}

@media(max-width:400px) {
    #cuadro-range-mobile {
        left: 258px;
        top: 5px;
    }
}

@media(max-width:395px) {
    #title-black-mobile {
        height: 153px;
    }
    #title-black-mobile .title-black1 {
        padding-top: 7%;
        font-size: 25px;
    }
    #title-black-mobile .title-black2 {
        font-size: 25px;
    }
}

@media(max-width:364px) {
    .col-sm-12.col-lg-7.datos-clientes {
        margin-left: 0px;
    }
    .datos-range-clientes {
        width: 75%;
    }
    .titulo-servicios1 a,
    .titulo-servicios2 a,
    .titulo-servicios3 a,
    .titulo-servicios4 a,
    .titulo-servicios5 a,
    .titulo-servicios6 a {
        font-size: 17px;
    }
    .titulo-servicios6 {
        width: auto;
        background-size: 100%;
    }
    .titulo-servicios1 {
        width: auto;
        background-size: 90%;
    }
}


@media(max-width:330px) {
    .menu .button-nav {
        display: none;
    }
}

@media(max-width:320px) {
    #cuadro-range-mobile {
        left: 226px;
    }
    #title-black-mobile .title-black1 {
        padding-top: 0%;
    }

}

/*/////////////////////////
////  DEFAULT    ////
/////////////////////////*/
.pre-formulario a{
    color: #fff !important;
}

.texto-formulario a{
    color: #fff !important;
}
