/* ////////////////
///// CABECERA ////
/////////////////*/

#autonomos-page #title-black {

    margin-top: 95px;
    height: 136px;
    background-image: url(../img/bg-autonomo.jpg);
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 20px;
}

#autonomos-page #title-black h2 {
    text-align: center;
    font-family: 'Rajdhani';
    font-weight: 600;
    font-size: 25px;
    color: #fff;
}

#autonomos-page #title-black-mobile {
    display: none;
}


#autonomos-page #title-black h1,
#autonomos-page #title-black h3,
#autonomos-page #title-black p {
    margin: 0 auto;
    color: #fff;
    padding-top: 25px;
}

#autonomos-page .title-black {
    max-width: 100%;
}

#autonomos-page .cabecera .tit-precio {
    text-align: left;
    font-family: 'Rajdhani';
    font-weight: 600;
    font-size: 22px;
    color: #808183;
    padding: 0 0px;
}



#autonomos-page .precio .text-precio,
#autonomos-page .precio .euro,
#autonomos-page .precio .num-precio,
#autonomos-page .precio .mes-precio {
    color: #fff !important;
}

#autonomos-page .cabecera .datosprecio {
    color: #808183;
}

#autonomos-page .cabecera .datos-tlf {
    background-color: #F35B33;
    color: #fff;
}

#autonomos-page .col-sm-12.col-lg-3.img-section1 {
    margin-top: 45px;

}

#autonomos-page .tit-precio span {
    color: #F47250;
    font-weight: bold;
}

#autonomos-page .bloque2-section1 h2 {
    font-family: 'Rajdhani';
    font-weight: bold;
    font-size: 41px;
    color: #F47250;
    padding: 0 0px;
}



#autonomos-page #form-section1 {
    margin-top: 0px;
}

#autonomos-page #form-section1 button {
    background-color: #F35B33;
    border: solid 1px #F35B33;
    transition: all .5s;
    color: #fff;
}

#autonomos-page #form-section1 button:hover {
    background-color: #fff;
    border: solid 1px #F35B33;
    transition: all .5s;
    color: #F35B33;
}

#autonomos-page #form-section1 .agree a {
    color: #808183;
}


#autonomos-page #form-section1 .agree {
    color: #808183;
}

#autonomos-page .arrow {
    padding-top: 110px;
}

#autonomos-page .title-section2 {
    margin: 0 auto;
    text-align: center;
    width: 100%;
    color: #808183;
    font-family: 'Rajdhani';
    font-weight: bold;
    font-size: 17px;
    padding: 0 26%;
    margin-top: 20px;
}

#autonomos-page .title-section2 span {
    color: #F47250;
}

#autonomos-page .cabecera h3 {
    margin: 0 auto;
    text-align: center;
    width: 100%;
    color: #808183;
    font-family: 'Rajdhani';
    font-weight: 600;
    font-size: 14px;
    padding: 0 26%;
    margin-top: 15px;
}

#autonomos-page .cabecera p {
    color: #808183;
}

#autonomos-page .cabecera p a {
    color: #808183;
}

.face-services {
    text-align: center;
}


#autonomos-page #form-section1 button {
    background-color: #00B5C8;
    border: solid 1px #00B5C8;
}

#autonomos-page #form-section1 button:hover {
    background-color: #fff;
    border: solid 1px #00B5C8;
    color: #00B5C8;
}

#autonomos-page .img-section1 {
    padding-left: 7%;
}

#autonomos-page .bloque2-section1 {
    max-width: 100%;
    flex: 0 0 100%;
}

/* //////////////////
///// SLIDE//////////
///////////////////*/

.slide-autonomo {
    padding: 15px 0;
    width: 100%;
    background-color: #E8EAEB;
    margin-top: 100px;
}

.slide-autonomo h2 {
    margin: 0 auto;
    text-align: center;
    width: 100%;
    color: #808183;
    font-family: 'Rajdhani';
    font-weight: bold;
    font-size: 23px;
}

.slide-autonomo h2 span {
    color: #00B5C8
}



/* //////////////////
///// ASESORIAS//////
///////////////////*/

.asesorias {
    margin-top: 25px;
}

.asesorias h3 {
    margin: 0 auto;
    text-align: center;
    width: 100%;
    color: #808183;
    font-family: 'Rajdhani';
    font-weight: 600;
    font-size: 17px;
}

.item-asesorias {
    height: 570px;
    margin: 0 15px;
    margin-top: 60px;
}

.item-left-asesorias {
    background-image: url(../img/bg-asesorias.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

.item-right-asesorias {
    background-image: url(../img/bg-asesorias2.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

.asesorias .precio {
    float: none;
    margin: 0 auto;
    margin-bottom: 25px;
}

.item-asesorias h3 {
    margin-top: 70px;
    text-align: center;
    width: 100%;
    color: #808183;
    font-family: 'Rajdhani';
    font-weight: bold;
    font-size: 24px;
}

.item-asesorias h2 {
    margin-bottom: 25px;
    font-size: 32px;
    color: #00B5C8;
    text-align: center;
    width: 100%;
    font-family: 'Rajdhani';
    font-weight: bold;
}

.item-asesorias p {
    text-align: center;
    color: #808183;
    font-family: 'Rajdhani';
    font-weight: normal;
    font-size: 18px;
    padding: 0px 12%;
}

.item-asesorias p span {
    font-weight: bold;
}

.asesorias a {
    border-radius: 5px;
    padding: 3px 10px;
    font-family: 'Rajdhani';
    font-weight: 600;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    background-color: #F35B33;
}

/* ////////////////
///// FORMULARIO ////
/////////////////*/

#autonomos-page .pre-formulario {
    background-color: rgba(0, 181, 200, 1);
    margin-top: 100px;
}

#autonomos-page .pre-formulario h2 {
    font-family: 'Rajdhani';
    font-weight: bold;
    font-size: 19px;
    color: #fff;
    text-align: center;
    padding: 25px 0 15px 0;
}

#autonomos-page .pre-formulario h2 span {
    font-weight: bold;
}

#autonomos-page .formulario {
    background-color: rgba(0, 181, 200, 0.5);
    margin-top: 0;
}

#autonomos-page .formulario h3 {
    padding-top: 30px;

}

#autonomos-page #form-section2 button {
    color: #00B5C8;
}

#autonomos-page #form-section2 button:hover {
    background-color: #00B5C8;
    color: #fff;
    border-color: #fff;
}

#autonomos-page .contenido-formulario {
    margin-top: 30px;
}


#autonomos-page .texto-formulario,
#autonomos-page .texto-formulario2 {
    font-family: 'Rajdhani';
    font-weight: normal;
    font-size: 12px;
    color: #fff;
}

#autonomos-page .texto-formulario2 {
    font-weight: bold;
}

#autonomos-page > div.row.formulario.justify-content-md-center > div > div > div:nth-child(1) {
    padding-left: 110px;
    padding-top: 15px;
}

/* ///////////////////////
///// MODULO EMPRESAS ////
////////////////////////*/

.modulo-empresas {
    margin-top: 100px;
}

.modulo-empresas .tit-gestores {
    font-family: 'Rajdhani';
    font-weight: bold;
    font-size: 16px;
    color: #00B5C8;
    margin-top: 30px;
}

.modulo-empresas .text-gestores1 {
    font-family: 'Rajdhani';
    font-weight: normal;
    font-size: 13px;
    color: #808183;
    margin-bottom: 0;
    margin-top: 15px;
}


.modulo-empresas .display-block-right .text-gestores1 {
    padding-left: 18%;
}

.modulo-empresas .text-gestores2 {
    font-family: 'Rajdhani';
    font-weight: bold;
    font-size: 13px;
    color: #808183;
    margin-bottom: 30px;
}

.modulo-empresas .text-gestores3 {
    font-family: 'Rajdhani';
    font-weight: bold;
    font-size: 13px;
    color: #00B5C8;
    margin-top: 30px;
}

.modulo-empresas .gestor-name {
    font-family: 'Rajdhani';
    font-weight: 600;
    font-size: 13px;
    color: #808183;
    margin-bottom: 0;
    padding: 0 65px;
    margin-top: 20px;
}

.modulo-empresas .gestor-description {
    font-family: 'Rajdhani';
    font-weight: normal;
    font-size: 14px;
    color: #808183;
    padding: 0 65px;
}

.modulo-empresas .item-emp1 {
    padding-right: 0;
}

.modulo-empresas .item-emp2 {
    padding-left: 0;
}

.display-block-right {
    display: block;
    text-align: right;
}

.display-block-left {
    width: 100%;
    text-align: left;
}



#autonomos-page .panel1 {
    margin-top: 0px !important;
    padding: 0 !important;
}



/* ////////////////
///// OPINIONES ////
/////////////////*/

#autonomos-page .publi {
    margin-top: 70px !important;
}

.slide-opiniones {
    color: #F35B33;
    background-color: #E8EAEB;
    padding: 20px 0 15px 0;
    margin-top: 100px;
}

.slide-opiniones h2 {
    font-family: 'Rajdhani';
    font-weight: 600;
    font-size: 23px;
    text-align: center;
}

.opiniones-autonomo {
    margin-top: 40px;
}


.opiniones-autonomo .title-opiniones1 {
    font-family: 'Rajdhani';
    font-weight: 600;
    font-size: 14px;
    width: 52%;
    color: #fff;
    background-color: #F35B33;
    text-align: center;
    border-radius: 4px;
    padding: 4px 10px;
    margin: 0 auto;
}


/* ////////////////
///// CIUDADES ////
/////////////////*/

.slide-ciudades {
    color: #FFF;
    background-color: #00B5C8;
    padding: 20px 0 15px 0;
    margin-top: 100px;
}

.slide-ciudades h2 {
    font-family: 'Rajdhani';
    font-weight: 600;
    font-size: 23px;
    text-align: center;
}

.tit-ciudades {

    width: 60%;
    font-family: 'Rajdhani';
    font-weight: normal;
    font-size: 13px;
    text-align: center;
    margin: 0 auto;
    color: #808183;
    margin-top: 30px;
    margin-bottom: 15px;
}

.tit-ciudades span {
    font-weight: bold;
}

.desplegable-ciudades {
    font-family: 'Rajdhani';
    font-weight: normal;
    font-size: 13px;
    text-align: center;
    color: #F35B33 !important;
}

.desplegable-ciudades span {
    font-weight: bold;
}

.ciudades .panel-why {
    text-align: center;
}

.tit-ciudades2 {

    width: 50%;
    font-family: 'Rajdhani';
    font-weight: normal;
    font-size: 13px;
    text-align: center;
    margin: 0 auto;
    color: #808183;
    margin-top: 30px;
    margin-bottom: 15px;
}

.subpanel-why a {
    display: block;
    font-family: 'Rajdhani';
    font-weight: bold;
    font-size: 15px;
    text-align: left;
    color: #808183;
}

.ciudades .panel-why .subpanel-why {
    padding: 0 50px;
    margin-top: 20px;
}

.ciudades .fa {
    line-height: 3;
}

/* ////////////////
///// MEDIAS ////
/////////////////*/

@media(max-width:990px) {
    .gestores {
        padding: 0 25px;
    }
    .col-lg-12 .gestor-name {
        margin-top: 10px;
    }
    .col-sm-2.col-lg-2.columncenter {
        display: none;
    }
    .item-asesorias p {
        width: 62%;
        margin: 0 auto;
    }
     #autonomos-page .bloque2-section1 h2 {
        font-size: 30px;
    }

}

@media(max-width:767px) {
    .img-servicios1-mobile {
        display: block;
        text-align: center;
    }
    .img-servicios1-mobile h2 {
        font-family: 'Rajdhani';
        font-weight: bold;
        font-size: 23px;
        color: #fff;
        position: absolute;
        text-align: center;
        top: 102px;
        left: 37%;

    }
    .img-servicios1 {
        display: none;
    }

    .item-asesorias p {
        width: 80%;
        margin: 0 auto;
    }

}

@media (max-width: 634px) {
    .modulo-empresas .gestor-description {
        padding: 0;
    }
    .modulo-empresas .gestor-name {
        padding: 0;
    }
    .asesorias .precio {
        padding-left: 10px;
    }
    #autonomos-page #title-black h2 {
        font-size: 17px;
    }
    .modulo-empresas .display-block-right .text-gestores1 {
        padding-left: 0;
    }
}

@media(max-width:450px) {
    .item-asesorias p {
        width: 100%;
        margin: 0 auto;
        margin-bottom: 10px;
    }
    .item-left-asesorias {
        background-size: contain;
    }
    .item-right-asesorias {
        background-size: contain;
    }
    .item-asesorias {
        margin-top: 0;
    }
    .item-asesorias.item-right-asesorias {
        margin-top: -90px;
    }
    .item-asesorias p {
        font-size: 13px;
    }

    .ciudades .panel-why .subpanel-why {
        padding-left: 14px;
        min-width: 50%;
        width: auto;
        padding: 0px;
        margin-top: 0;
    }
    .item-asesorias h3 {
        margin-top: 100px;
    }

    #autonomos-page .pre-formulario h2 {
        padding: 21px 20% 12px 20%;
    }
    #autonomos-page > div.row.formulario.justify-content-md-center > div > div > div:nth-child(1) {
        padding: 0px 12% 12px 12%;
    }

    .tit-ciudades {
        width: 100%;
    }
    .tit-ciudades2 {
        width: 100%;
    }

    .slide-ciudades {
        padding: 20px 10px 15px 10px;
    }
    #autonomos-page .img-section1 {
        padding: 0 15px;
    }


    #autonomos-page .precio {
        padding-left: 10px;
        margin-bottom: 15px;
    }

    .item-asesorias h2 {
        margin-bottom: 5px;
    }
    #autonomos-page .col-sm-12.col-lg-3.img-section1 {
        margin-top: 10px;
    }
    #autonomos-page h1.title-black {
        font-size: 25px;
        padding: 0 22px;
    }
    #autonomos-page #title-black {
        margin-top: 55px;
    }
    #autonomos-page .bloque2-section1 {
        max-width: 98%;
        flex: 0 0 98%;
    }
    #autonomos-page .bloque2-section1 h2 {
        text-align: center;
        margin-top: 30px
    }

    #autonomos-page #form-section1 {
        max-width: 320px;
        margin: 0 auto;
    }

    #autonomos-page .title-section2 {
        padding: 0 8%;
    }
    #autonomos-page .cabecera h3 {
        padding: 0 8%;
    }
    #autonomos-page .cabecera p {
        padding: 0 0%;
    }


    .descripcion .txt-descripcion1 {
        margin-bottom: 0;
        margin-top: 10px;
    }
    .item-left .col-sm-12 {
        padding: 0 10px !important;
    }
    .item-right .col-sm-12 {
        padding: 0 10px !important;
    }
    .gestores .col-lg-12 {
        padding: 0;
    }
    .item-left .col-lg-12 .gestor-name,
    .item-left .col-lg-12 .gestor-description,
    .item-right .col-lg-12 .gestor-name,
    .item-right .col-lg-12 .gestor-description {
        padding: 0 10px;
    }
    .img-gestor {
        display: none;
    }
    .img-gestor-mobile {
        display: block
    }
    .gestores p {
        margin-bottom: 0;
    }
    .col-lg-12 .gestor-name {
        margin-top: 13px;
    }
    #autonomos-page > div.container > div.row.gestores.justify-content-sm-center > div:nth-child(3),
    #autonomos-page > div.container > div.row.gestores.justify-content-sm-center > div:nth-child(4) {
        margin-top: 0px;
    }
    .gestores {
        margin-top: 35px;
        margin-bottom: 100px;
    }

    #autonomos-page .formulario h3 {
        padding: 30px 13% 0px 13%;
    }
    #autonomos-page .pre-formulario {
        margin-top: 20px;
    }
    #autonomos-page #title-black h1 {
        padding-top: 35px;
        font-size: 20px
    }
}

}

@media(min-width:320px) {
    #autonomos-page #title-black {
        display: block !important;
    }

}
