/* ////////////////
///// CABECERA ////
/////////////////*/

#servicios-page #title-black {

        margin-top: 95px;
    height: 114px;
    background-image: url(../img/bg-servicios.jpg);
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 20px;
}

#servicios-page #title-black-mobile {
    display: none;
}


#servicios-page #title-black h1,
#servicios-page #title-black h3,
#servicios-page #title-black p {
    margin: 0 auto;
    color: #fff;
    padding-top: 25px;
}

#servicios-page .title-black {
    max-width: 100%;
}

#servicios-page .cabecera .tit-precio {
    text-align: center;
    font-family: 'Rajdhani';
    font-weight: 600;
    font-size: 25px;
    color: #808183;
    padding: 0 0px;
}

#servicios-page .col-sm-12.col-lg-3.img-section1 {
    margin-top: 45px;

}

#servicios-page .tit-precio span {
    color: #F47250;
    font-weight: bold;
}

#servicios-page .bloque2-section1 h2 {
    font-family: 'Rajdhani';
    font-weight: bold;
    font-size: 41px;
    color: #F47250;
    padding: 0 0px;
}



#servicios-page #form-section1 {
    margin-top: 0px;
}

#servicios-page #form-section1 button {
    background-color: #F35B33;
    border: solid 1px #F35B33;
    transition: all .5s;
    color: #fff;
}

#servicios-page #form-section1 button:hover {
    background-color: #fff;
    border: solid 1px #F35B33;
    transition: all .5s;
    color: #F35B33;
}

#servicios-page #form-section1 .agree a {
    color: #808183;
}


#servicios-page #form-section1 .agree {
    color: #808183;
}

#servicios-page .arrow {
    padding-top: 110px;
}

#servicios-page .title-section2 {
    margin: 0 auto;
    text-align: center;
    width: 100%;
    color: #808183;
    font-family: 'Rajdhani';
    font-weight: bold;
    font-size: 17px;
    padding: 0 26%;
    margin-top: 20px;
}

#servicios-page .title-section2 span {
    color: #F47250;
}

#servicios-page .cabecera h3 {
    margin: 0 auto;
    text-align: center;
    width: 100%;
    color: #808183;
    font-family: 'Rajdhani';
    font-weight: 600;
    font-size: 14px;
    padding: 0 26%;
    margin-top: 15px;
}

#servicios-page .cabecera p {
    margin: 0 auto;
    text-align: center;
    width: 100%;
    color: #808183;
    font-family: 'Rajdhani';
    font-weight: normal;
    font-size: 14px;
    padding: 0 26%;
    margin-top: 15px;
}

.face-services {
    text-align: center;
}

/* ////////////////
/// DESCRIPCION ///
/////////////////*/

.descripcion {
    margin-top: 25px;
}

.img-servicios1,  .img-servicios1-mobile{
    width: 254px;
    height: 254px;
    background: url(../img/gestoria.jpg);
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
}

.img-servicios1 img {
    width: 100%;
}

.img-servicios1 h2 {
    font-family: 'Rajdhani';
    font-weight: bold;
    font-size: 23px;
    color: #fff;
    text-align: center;
    margin-top: 95px;
}

.descripcion p {
    font-family: 'Rajdhani';
    font-weight: normal;
    font-size: 12px;
    color: #F47250;
    margin-top: 73px;
}

.txt-descripcion1 {
    text-align: left;
}

.txt-descripcion2 {
    text-align: right;
}

.img-servicios1-mobile{
    display: none;
}
/* ////////////////
///// GESTORES ////
/////////////////*/

.gestores {
    margin-top: 35px;
    margin-bottom: 40px;

}

.gestores img {
    width: 100%;
}

.gestores h2 {
    font-family: 'Rajdhani';
    font-weight: bold;
    font-size: 23px;
    color: #F47250;
    margin-top: 45px;
}

.gestores h3 {
    font-family: 'Rajdhani';
    font-weight: 500;
    font-size: 16px;
    color: #808183;
}

.gestores p {
    font-family: 'Rajdhani';
    font-weight: normal;
    font-size: 12px;
    color: #808183;
}

.gestores .col-lg-6,
.gestores .col-lg-5,
.gestores .col-lg-7 {
    padding: 0;
}

.gestores .item-right {
    text-align: right;
}

.gestores .item-right p {
    padding-left: 40px;
}

.gestores .item-left p {
    padding-right: 40px;

}


.col-lg-12 .gestor-name {

    margin-top: -22px;
    font-family: 'Rajdhani';
    font-weight: 600;
    font-size: 13px;
    color: #808183;
    margin-bottom: 0;
}

.item-right .col-lg-12 .gestor-name {
    padding-right: 40px;
    padding-left: 0;
}

.item-left .col-lg-12 .gestor-name {
    padding-left: 40px;
    padding-right: 0;
}


.col-lg-12 .gestor-description {
    font-family: 'Rajdhani';
    font-weight: normal;
    font-size: 14px;
    color: #808183;
}

.item-right .col-lg-12 .gestor-description {
    padding-right: 40px;
}

.item-left .col-lg-12 .gestor-description {
    padding-left: 40px;
}

#servicios-page > div.container > div.row.gestores.justify-content-sm-center > div:nth-child(3),
#servicios-page > div.container > div.row.gestores.justify-content-sm-center > div:nth-child(4) {
    margin-top: 80px;
}

.gestores .col-lg-5 p {
    min-height: 144px;
}

.img-gestor{display: block;}
    .img-gestor-mobile{
        display: none
    }
.services{
    margin-top: 0px;
}
/* ////////////////
///// FORMULARIO ////
/////////////////*/

#servicios-page .pre-formulario {
    background-color: rgba(243, 91, 51, 1);
    margin-top: 100px;
}

#servicios-page .pre-formulario h3 {
    font-family: 'Rajdhani';
    font-weight: 500;
    font-size: 18px;
    color: #fff;
    text-align: center;
    padding: 15px 40%;
}

#servicios-page .pre-formulario h3 span {
    font-weight: bold;
}

#servicios-page .formulario {
    background-color: rgba(243, 91, 51, 0.7);
    margin-top: 0;
}

#servicios-page .formulario h3 {
    padding-top: 30px;

}

#servicios-page #form-section2 button {
    color: rgba(243, 91, 51, 1);
}

#servicios-page #form-section2 button:hover {
    background-color:rgba(243, 91, 51, 1);
    color: #fff;
    border-color:#fff;
}
/* ////////////////
///// MEDIAS ////
/////////////////*/
@media(max-width:1100px){
    #servicios-page .pre-formulario h3{
        padding: 15px 20%;
    }
}
@media(max-width:990px){
     #servicios-page > div.container > div.row.gestores.justify-content-sm-center > div:nth-child(3),
#servicios-page > div.container > div.row.gestores.justify-content-sm-center > div:nth-child(4) {
    margin-top: 0px;
}
    #servicios-page .bloque2-section1 h2 {
        font-size: 38px;
    }
    .gestores{
            padding: 0 25px;
    }
    .col-lg-12 .gestor-name {
        margin-top: 10px;}
    .col-sm-2.col-lg-2.columncenter{
        display: none;
    }
    #servicios-page .pre-formulario h2{
        padding: 15px 10%;
    }
}

@media(max-width:767px){
    .img-gestor{display: none;}
    .img-gestor-mobile{
        display: block
    }
    #servicios-page .form-group-r {
        display: inline-block;
        width: 48%;
        margin-bottom: 10px;
        float: right;
    }
    #servicios-page .form-group-l {
        margin-bottom: 10px;
        display: inline-block;
        width: 48%;
        float: left;
    }
    .img-servicios1-mobile{
        display: block;
    text-align: center;
}
    .img-servicios1-mobile h2{
         font-family: 'Rajdhani';
    font-weight: bold;
    font-size: 23px;
    color: #fff;
   margin-top: 95px;
    text-align: center;
        
    }
    .img-servicios1{
        display: none;
    }
     .descripcion .txt-descripcion1,.descripcion .txt-descripcion2{
        margin-top: 0;
       text-align: center;
    }
    #servicios-page .pre-formulario h3 {
   
    padding: 15px 10px;
}
}
@media(max-width:575px){
    
    #servicios-page .bloque2-section1 h2 {
    text-align: center;
}
    #servicios-page #form-section1{
        margin: 0 auto;
    }
}
    
    @media(max-width:450px){
    #servicios-page .col-sm-12.col-lg-3.img-section1{
            margin-top: 10px;
    }
     #servicios-page h1.title-black{
        font-size: 25px;
            padding: 0 22px;
    }
    #servicios-page #title-black {
        margin-top: 55px;}
    #servicios-page .bloque2-section1 {
    max-width: 98%;
    flex: 0 0 98%;
}
    #servicios-page .bloque2-section1 h2{
        text-align: center;
        margin-top: 30px
    }
    
    #servicios-page #form-section1 {
    max-width: 320px;
        margin: 0 auto;
}
    
    #servicios-page .title-section2{
            padding: 0 8%;
    }
    #servicios-page .cabecera h3{
        padding: 0 8%;
    }
    #servicios-page .cabecera p{
        padding: 0 0%;
    }
    
  
    .descripcion .txt-descripcion1{
        margin-bottom: 0;
        margin-top: 10px;
    }
    .item-left .col-sm-12{
            padding:0 10px !important;
    }.item-right .col-sm-12{
            padding:0 10px !important;
    }
    .gestores .col-lg-12{
        padding: 0;
    }
    .item-left .col-lg-12 .gestor-name, .item-left .col-lg-12 .gestor-description, .item-right .col-lg-12 .gestor-name, .item-right .col-lg-12 .gestor-description{
        padding: 0 10px;
    }
    
    .gestores p{
        margin-bottom: 0;
    }
    .col-lg-12 .gestor-name {
        margin-top: 13px;}
    #servicios-page > div.container > div.row.gestores.justify-content-sm-center > div:nth-child(3),
#servicios-page > div.container > div.row.gestores.justify-content-sm-center > div:nth-child(4) {
    margin-top: 0px;
}
    .gestores {
    margin-top: 35px;
    margin-bottom: 100px;
}
    #servicios-page .pre-formulario h2 {
    padding: 21px 13% 12px 13%;
}
    #servicios-page .formulario h3 {
    padding: 30px 13% 0px 13%;
}
    #servicios-page .pre-formulario {
    margin-top: 20px;
}
    #servicios-page #title-black h1{
        padding-top: 35px;
    }
    
}

@media(min-width:320px) {
    #servicios-page #title-black {
        display: block !important;
    }
    
}






